Repository Fryuni/inox-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, workspace, pkg/server-islands, pkg/portal-gun, pkg/cut-short, pkg/request-nanostores, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/runtime-logger, pkg/inline-mod, pkg/modular-station, pkg/sitemap-ext, pkg/request-state, pkg/content-utils, pkg/astro-tests, pkg/velox-luna

.github/labeler.yml:

# See https://github.com/actions/labeler

automation:
- .github/workflows/**

workspace:
# Any config file at the root
- '*.{js,json}'
- '.*'

## PACKAGES

pkg/server-islands:
- 'packages/server-islands/**'

pkg/portal-gun:
- 'packages/portal-gun/**'

pkg/cut-short:
- 'packages/cut-short/**'

pkg/request-nanostores:
- 'packages/request-nanostores/**'

pkg/aik-mod:
- 'packages/aik-mod/**'

pkg/aik-route-config:
- 'packages/aik-route-config/**'

pkg/custom-routing:
- 'packages/custom-routing/**'

pkg/runtime-logger:
- 'packages/runtime-logger/**'

pkg/inline-mod:
- 'packages/inline-mod/**'

pkg/modular-station:
- 'packages/modular-station/**'

pkg/sitemap-ext:
- 'packages/sitemap-ext/**'

pkg/request-state:
- 'packages/request-state/**'

pkg/content-utils:
- 'packages/content-utils/**'

pkg/astro-tests:
- 'packages/astro-tests/**'

pkg/velox-luna:
- 'packages/velox-luna/**'

Update packages/request-state/src/runtime/middleware.ts
  packages/request-state/src/runtime/middleware.ts
Labels: pkg/request-state

Update packages/request-state/src/runtime/middleware.ts
  packages/request-state/src/runtime/middleware.ts
Labels: pkg/request-state

Change stateScript to use null instead of empty string
  packages/request-state/src/runtime/middleware.ts
Labels: pkg/request-state

chore: added changeset
  .changeset/tiny-cars-sort.md
Labels: none

feat(request-state): add content-length header when opting out of stream (#270)
  .changeset/tiny-cars-sort.md
  packages/request-state/e2e/basic.spec.ts
  packages/request-state/src/runtime/middleware.ts
Labels: pkg/request-state

[ci] release (#268)
  .changeset/cyan-beans-argue.md
  .changeset/tiny-cars-sort.md
  packages/request-state/CHANGELOG.md
  packages/request-state/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Labels: pkg/request-state

feat(utils): Add `LazyKeyed.wrap`
  .changeset/brown-canyons-pull.md
  .changeset/grumpy-years-beam.md
  packages/utils/src/lazy.ts
Labels: none

[ci] release (#271)
  .changeset/brown-canyons-pull.md
  .changeset/grumpy-years-beam.md
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Labels: none

chore: Relock dependencies
  package.json
  pnpm-lock.yaml
Labels: workspace

chore!: Upgrade dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

fix(server-islands): update E2E test for Astro 5.18 Astro.url change
  packages/server-islands/e2e/basic.spec.ts
Labels: pkg/server-islands

chore!: Upgrade dependencies (#272)
  packages/server-islands/e2e/basic.spec.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg/server-islands

chore(content-utils): Add injector runtime tests for fancy collections (#273)
  packages/content-utils/tests/injector-runtime.test.ts
Labels: pkg/content-utils

feat(content-utils): Report which integration a collection is conflicting with
  AGENTS.md
  packages/content-utils/src/integration/index.ts
  packages/content-utils/src/integration/injectorPlugin.ts
  packages/content-utils/src/integration/state.ts
  packages/content-utils/src/integration/utilities.ts
  packages/content-utils/src/runtime/injector.ts
  packages/content-utils/tests/injector-runtime.test.ts
  packages/content-utils/virtual.d.ts
Labels: pkg/content-utils

chore: initialize agent memory
  .gitignore
  .memory/AGENTS.md
  .memory/branches/main/commits.md
  .memory/branches/main/metadata.yaml
  .memory/main.md
  .memory/state.yaml
  AGENTS.md
Labels: workspace

chore: update astro to v6 beta and all related @astrojs/* packages
  .memory/state.yaml
  patches/astro-integration-kit.patch
  patches/astro.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

wip
  AGENTS.md
  docs/astro.config.ts
  docs/src/content/docs/content-utils/index.mdx
  docs/src/content/docs/content-utils/integration.mdx
  docs/src/content/docs/how-it-works/runtime-logger.mdx
Labels: none

wip
  .memory/main.md
  .memory/state.yaml
  docs/src/content/docs/inline-mod/aik-plugin.mdx
  docs/src/content/docs/inline-mod/vite-plugin.md
  examples/content-injection/integration.ts
  examples/content-injection/package.json
  examples/inline-mod-aik/.gitignore
  examples/inline-mod-aik/README.md
  examples/inline-mod-aik/astro.config.mjs
  examples/inline-mod-aik/integration.ts
  examples/inline-mod-aik/package.json
  examples/inline-mod-aik/public/blog-placeholder-1.jpg
  examples/inline-mod-aik/public/blog-placeholder-2.jpg
  examples/inline-mod-aik/public/blog-placeholder-3.jpg
  examples/inline-mod-aik/public/blog-placeholder-4.jpg
  examples/inline-mod-aik/public/blog-placeholder-5.jpg
  examples/inline-mod-aik/public/blog-placeholder-about.jpg
  examples/inline-mod-aik/public/favicon.svg
  examples/inline-mod-aik/public/fonts/atkinson-bold.woff
  examples/inline-mod-aik/public/fonts/atkinson-regular.woff
  examples/inline-mod-aik/routeInjection.ts
  examples/inline-mod-aik/src/components/Card.astro
  examples/inline-mod-aik/src/consts.ts
  examples/inline-mod-aik/src/env.d.ts
  examples/inline-mod-aik/src/layouts/Layout.astro
  examples/inline-mod-aik/src/pages/index.astro
  examples/inline-mod-aik/src/styles/global.css
  examples/inline-mod-aik/tsconfig.json
  packages/aik-mod/README.md
  packages/aik-route-config/README.md
  packages/aik-route-config/src/index.ts
  packages/astro-when/package.json
  packages/astro-when/src/index.ts
  packages/astro-when/tsup.config.ts
  packages/content-utils/tests/injector-runtime.test.ts
  packages/sitemap-ext/index.ts
  pnpm-lock.yaml
Labels: pkg/aik-mod, pkg/aik-route-config, pkg/sitemap-ext, pkg/content-utils

wip
  packages/content-utils/package.json
  packages/content-utils/src/integration/index.ts
  packages/content-utils/src/integration/utilities.ts
  packages/content-utils/src/internal/resolver.ts
  packages/content-utils/src/runtime/git.ts
  pnpm-lock.yaml
Labels: pkg/content-utils

wip
  packages/content-utils/src/integration/seedCollections.ts
  packages/content-utils/src/internal/resolver.ts
  packages/cut-short/package.json
  packages/cut-short/src/index.ts
  pnpm-lock.yaml
Labels: pkg/cut-short, pkg/content-utils

wip
  docs/src/content/docs/modular-station/api.mdx
  docs/src/content/docs/modular-station/hooks.mdx
  packages/modular-station/package.json
  packages/modular-station/src/allHooksPlugin.ts
  packages/modular-station/src/api.ts
  packages/modular-station/src/hooks.ts
  pnpm-lock.yaml
Labels: pkg/modular-station

wip
  packages/portal-gun/package.json
  packages/portal-gun/src/index.ts
  pnpm-lock.yaml
Labels: pkg/portal-gun

chore: update to astro v6 and all related @astrojs/* packages
  .memory/state.yaml
  examples/inline-mod-aik/package.json
  examples/inline-mod-astro/package.json
  examples/inline-mod/package.json
  patches/astro.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

fix: update packages for Astro v6 compatibility
  .memory/state.yaml
  .prettierignore
  .prototools
  packages/aik-route-config/tests/scriptBlocks.test.ts
  packages/astro-tests/src/testAdapter.ts
  packages/content-utils/src/integration/index.ts
  packages/content-utils/src/runtime/fancyContent.ts
  packages/cut-short/src/index.ts
  packages/request-state/e2e/fixture/view-transitions/src/pages/index.astro
  packages/server-islands/e2e/basic.spec.ts
  packages/sitemap-ext/index.ts
  packages/star-warp/src/index.ts
Labels: workspace, pkg/server-islands, pkg/cut-short, pkg/aik-route-config, pkg/sitemap-ext, pkg/request-state, pkg/content-utils, pkg/astro-tests

Update Node version
  .github/workflows/ci.yml
  .github/workflows/example-deploys.yml
  .github/workflows/pkg-pr.yml
  .github/workflows/preview-mode.yml
  .github/workflows/release.yml
Labels: automation

Add changeset
  .changeset/eleven-fans-love.md
Labels: none

Fix example builds
  examples/content-injection/src/content.config.ts
  examples/content-injection/src/integration/config.ts
  examples/content-injection/src/pages/index.astro
  examples/custom-routing/src/content.config.ts
  examples/custom-routing/src/routes/blog/[...slug].astro
  examples/custom-routing/src/routes/blog/index.astro
  examples/inline-mod-aik/integration.ts
  examples/sitemap-ext/src/content.config.ts
  examples/sitemap-ext/src/pages/blog/[...slug].astro
  examples/sitemap-ext/src/pages/blog/index.astro
  packages/aik-route-config/src/contextResolution.ts
Labels: pkg/aik-route-config

Dedupe lockfile
  pnpm-lock.yaml
Labels: none

Fix Cloudflare deploy
  .github/workflows/example-deploys.yml
  examples/deploy-cloudflare.sh
  examples/wrangler.jsonc
  examples/wrangler.toml
Labels: automation

wip
  packages/request-nanostores/package.json
  packages/request-nanostores/src/index.ts
  packages/request-nanostores/src/plugin.ts
  pnpm-lock.yaml
Labels: pkg/request-nanostores

wip
  packages/request-nanostores/src/plugin.ts
  packages/request-state/package.json
  packages/request-state/src/index.ts
  packages/request-state/src/plugin.ts
  pnpm-lock.yaml
Labels: pkg/request-nanostores, pkg/request-state

wip
  packages/runtime-logger/package.json
  packages/runtime-logger/src/index.ts
  packages/runtime-logger/tsup.config.ts
  pnpm-lock.yaml
Labels: pkg/runtime-logger

wip
  packages/server-islands/package.json
  packages/server-islands/src/index.ts
  packages/server-islands/tsup.config.ts
  pnpm-lock.yaml
Labels: pkg/server-islands

wip
  docs/src/content/docs/inline-mod/lazy.md
Labels: none

wip
  packages/star-warp/package.json
  packages/star-warp/src/index.ts
  packages/star-warp/tsup.config.ts
  pnpm-lock.yaml
Labels: none

wip
  turbo/generators/integration/templates/package.json.hbs
  turbo/generators/integration/templates/src/index.ts.hbs
Labels: none

wip
  docs/src/content/docs/how-it-works/runtime-logger.mdx
  packages/runtime-logger/src/index.ts
Labels: pkg/runtime-logger

wip
  packages/aik-route-config/src/index.ts
  packages/route-config/README.md
  packages/route-config/package.json
  packages/route-config/src/contextResolution.ts
  packages/route-config/src/debug.ts
  packages/route-config/src/hoistGlobalPlugin.ts
  packages/route-config/src/index.ts
  packages/route-config/tests/fixtures/awaited.astro
  packages/route-config/tests/fixtures/env.d.ts
  packages/route-config/tests/fixtures/exportedFunctionWithAdversaryExports.astro
  packages/route-config/tests/fixtures/nothing.astro
  packages/route-config/tests/fixtures/otherExports.astro
  packages/route-config/tests/fixtures/scriptBlock.astro
  packages/route-config/tests/fixtures/simple.astro
  packages/route-config/tests/hoist.test.ts
  packages/route-config/tests/scriptBlocks.test.ts
  packages/route-config/tests/utils.ts
  packages/route-config/tests/vitest.setup.ts
  packages/route-config/tsconfig.json
  packages/route-config/tsup.config.ts
  packages/route-config/vitest.config.ts
  packages/sitemap-ext/index.ts
  pnpm-lock.yaml
Labels: pkg/aik-route-config, pkg/sitemap-ext
