Repository Fryuni/inox-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, workspace, pkg/inline-mod, pkg/velox-luna

Formatted
  .eslintignore
  packages/inline-mod/.eslintrc.cjs
  packages/inline-mod/src/closure/entry.test.ts
  packages/inline-mod/src/closure/inspectCode.ts
  packages/inline-mod/src/closure/parseFunction.ts
  packages/inline-mod/src/closure/serialization.ts
  packages/inline-mod/src/closure/v8Hooks.ts
  packages/inline-mod/src/inlining.ts
  packages/inline-mod/vite.config.ts
  packages/velox-luna/index.ts
  turbo/generators/app/index.ts
  turbo/generators/app/templates/vite.config.ts
Labels: workspace, pkg/inline-mod, pkg/velox-luna

Better errors
  packages/inline-mod/.eslintrc.cjs
  packages/inline-mod/src/closure/entry.test.ts
  packages/inline-mod/src/closure/entry.ts
  packages/inline-mod/src/closure/inspectCode.ts
  packages/inline-mod/src/closure/parseFunction.ts
  packages/inline-mod/src/closure/rewriteSuper.ts
  packages/inline-mod/src/closure/serialization.ts
  packages/inline-mod/src/closure/v8.ts
Labels: pkg/inline-mod

Add changeset labels
  .github/workflows/changesets.yml
Labels: automation

Add changeset labels
  packages/velox-luna/package.json
Labels: pkg/velox-luna

Fix test for velox-luna
  packages/velox-luna/package.json
Labels: pkg/velox-luna

Remove conflicting Vite config
  packages/inline-mod/index.html
  packages/inline-mod/vite.config.ts
Labels: pkg/inline-mod

.github/labeler.yml:

# See https://github.com/actions/labeler

automation:
- .github/workflows/**

workspace:
# Any config file at the root
- '*.{js,json}'
- '.*'

pkg/inline-mod:
- 'packages/inline-mod/**'

pkg/velox-luna:
- 'packages/velox-luna/**'
