Repository Fryuni/inox-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, workspace, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/inline-mod, pkg/sitemap-ext, pkg/velox-luna

feat: Deploy other examples to Cloudflare
  .github/workflows/example-deploys.yml
  examples/custom-routing/astro.config.mjs
Labels: automation

chore: Update all dependencies
  docs/package.json
  examples/custom-routing/package.json
  examples/inline-mod-aik/package.json
  examples/inline-mod-astro/package.json
  examples/inline-mod/package.json
  examples/sitemap-ext/package.json
  package.json
  packages/aik-mod/package.json
  packages/aik-route-config/package.json
  packages/custom-routing/package.json
  packages/inline-mod/package.json
  packages/sitemap-ext/package.json
  pnpm-lock.yaml
  turbo/package.json
Labels: workspace, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/inline-mod, pkg/sitemap-ext

[pkg/custom-routing]: Remove dependency on TypeScript
  .changeset/healthy-frogs-think.md
  packages/custom-routing/package.json
  pnpm-lock.yaml
Labels: pkg/custom-routing

[pkg/sitemap-ext]: Fixes `trailingSlash` handling for SSR dynamic routes
  .changeset/shaggy-bobcats-type.md
  packages/sitemap-ext/index.ts
Labels: pkg/sitemap-ext

[pkg/sitemap-ext]: Fixes `trailingSlash` handling for SSR dynamic routes
  .changeset/shaggy-bobcats-type.md
  packages/sitemap-ext/index.ts
Labels: pkg/sitemap-ext

[pkg/sitemap-ext]: Fixes package name in error message
  .changeset/rare-peas-speak.md
  packages/sitemap-ext/index.ts
Labels: pkg/sitemap-ext

chore: release
  .changeset/rare-peas-speak.md
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
Labels: pkg/sitemap-ext

[pkg/astro-when]: Initial implementation
  .changeset/twelve-rivers-thank.md
  packages/astro-when/README.md
  packages/astro-when/gitignore
  packages/astro-when/npmignore
  packages/astro-when/package.json
  packages/astro-when/src/index.ts
  packages/astro-when/tsconfig.json
  packages/astro-when/tsup.config.ts
  packages/astro-when/virtual.d.ts
  pnpm-lock.yaml
Labels: none

[pkg/astro-when]: Add examples and fix implementation
  examples/when/.gitignore
  examples/when/README.md
  examples/when/astro.config.ts
  examples/when/package.json
  examples/when/src/env.d.ts
  examples/when/src/middleware.ts
  examples/when/src/pages/index.astro
  examples/when/src/pages/on-demand.astro
  examples/when/src/pages/prerender.astro
  examples/when/tsconfig.json
  packages/astro-when/package.json
  packages/astro-when/src/index.ts
  packages/astro-when/virtual.d.ts
  pnpm-lock.yaml
Labels: none

Rename example
  examples/astro-when/.gitignore
  examples/astro-when/README.md
  examples/astro-when/astro.config.ts
  examples/astro-when/package.json
  examples/astro-when/src/env.d.ts
  examples/astro-when/src/middleware.ts
  examples/astro-when/src/pages/index.astro
  examples/astro-when/src/pages/on-demand.astro
  examples/astro-when/src/pages/prerender.astro
  examples/astro-when/tsconfig.json
Labels: none

Add astro-when to Cloudflare deployment list
  .github/workflows/example-deploys.yml
Labels: automation

Update lockfile references
  pnpm-lock.yaml
Labels: none

Add docs
  docs/astro.config.ts
  docs/src/content/docs/astro-when.md
Labels: none

[pkg/astro-when]: Implement new package (#68)
  .changeset/twelve-rivers-thank.md
  .github/workflows/example-deploys.yml
  docs/astro.config.ts
  docs/src/content/docs/astro-when.md
  examples/astro-when/.gitignore
  examples/astro-when/README.md
  examples/astro-when/astro.config.ts
  examples/astro-when/package.json
  examples/astro-when/src/env.d.ts
  examples/astro-when/src/middleware.ts
  examples/astro-when/src/pages/index.astro
  examples/astro-when/src/pages/on-demand.astro
  examples/astro-when/src/pages/prerender.astro
  examples/astro-when/tsconfig.json
  packages/astro-when/README.md
  packages/astro-when/gitignore
  packages/astro-when/npmignore
  packages/astro-when/package.json
  packages/astro-when/src/index.ts
  packages/astro-when/tsconfig.json
  packages/astro-when/tsup.config.ts
  packages/astro-when/virtual.d.ts
  pnpm-lock.yaml
Labels: automation

[ci] release (#67)
  .changeset/twelve-rivers-thank.md
  examples/astro-when/CHANGELOG.md
  examples/astro-when/package.json
  packages/astro-when/CHANGELOG.md
  packages/astro-when/package.json
Labels: none

Unify docs trailing slashes
  docs/src/content/docs/inline-mod/aik-plugin.md
  docs/src/content/docs/inline-mod/vite-plugin.md
Labels: none

Update dependencies
  .changeset/chilled-drinks-sip.md
  .changeset/few-toys-rush.md
  docs/package.json
  examples/astro-when/package.json
  examples/custom-routing/package.json
  examples/inline-mod-aik/integration.ts
  examples/inline-mod-aik/package.json
  examples/inline-mod-astro/package.json
  examples/sitemap-ext/package.json
  package.json
  packages/aik-mod/package.json
  packages/aik-mod/src/index.ts
  packages/aik-route-config/package.json
  packages/aik-route-config/src/index.ts
  packages/astro-when/package.json
  packages/custom-routing/package.json
  packages/sitemap-ext/index.ts
  packages/sitemap-ext/package.json
  packages/velox-luna/package.json
  patches/@lunariajs__core@0.0.31.patch
  pnpm-lock.yaml
Labels: workspace, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/sitemap-ext, pkg/velox-luna

Update docs
  docs/src/content/docs/inline-mod/aik-plugin.md
Labels: none

chore: Remove eslint
  package.json
  pnpm-lock.yaml
Labels: workspace

chore: Update CI
  .github/workflows/ci.yml
Labels: automation

Apply suggestions from code review
  docs/src/content/docs/inline-mod/aik-plugin.md
Labels: none

Update dependencies (#70)
  .changeset/chilled-drinks-sip.md
  .changeset/few-toys-rush.md
  .github/workflows/ci.yml
  docs/package.json
  docs/src/content/docs/inline-mod/aik-plugin.md
  examples/astro-when/package.json
  examples/custom-routing/package.json
  examples/inline-mod-aik/integration.ts
  examples/inline-mod-aik/package.json
  examples/inline-mod-astro/package.json
  examples/sitemap-ext/package.json
  package.json
  packages/aik-mod/package.json
  packages/aik-mod/src/index.ts
  packages/aik-route-config/package.json
  packages/aik-route-config/src/index.ts
  packages/astro-when/package.json
  packages/custom-routing/package.json
  packages/sitemap-ext/index.ts
  packages/sitemap-ext/package.json
  packages/velox-luna/package.json
  patches/@lunariajs__core@0.0.31.patch
  pnpm-lock.yaml
Labels: automation, workspace, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/sitemap-ext, pkg/velox-luna

[ci] release (#71)
  .changeset/chilled-drinks-sip.md
  .changeset/few-toys-rush.md
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
  packages/velox-luna/CHANGELOG.md
  packages/velox-luna/package.json
Labels: pkg/aik-mod, pkg/aik-route-config, pkg/sitemap-ext, pkg/velox-luna

[pkg/aik-mod]: Fixes type issue with `DeepPartial`
  .changeset/silent-spies-film.md
  packages/aik-mod/src/index.ts
Labels: pkg/aik-mod

[pkg/aik-mod]: Fixes type issue with `DeepPartial` (#72)
  .changeset/silent-spies-film.md
  packages/aik-mod/src/index.ts
Labels: pkg/aik-mod

[pkg/inline-mod]: Implements new `lazyValue` utility
  .changeset/wicked-fireants-switch.md
  packages/aik-mod/src/index.ts
  packages/inline-mod/src/closure/inspectCode.ts
  packages/inline-mod/src/index.ts
  packages/inline-mod/tests/functions.test.ts
  packages/inline-mod/tests/specialValues.test.ts
  packages/inline-mod/tsconfig.json
Labels: pkg/aik-mod, pkg/inline-mod

Fix type reference
  packages/inline-mod/src/closure/inspectCode.ts
Labels: pkg/inline-mod

WIP Docs
  docs/src/content/docs/inline-mod/aik-plugin.md
  docs/src/content/docs/inline-mod/lazy.md
Labels: none

Document lazy value and danger of use
  docs/src/content/docs/inline-mod/lazy.md
Labels: none

Fix links
  docs/src/content/docs/inline-mod/aik-plugin.md
  docs/src/content/docs/inline-mod/lazy.md
Labels: none

Fix example
  docs/src/content/docs/inline-mod/lazy.md
Labels: none

Improve docs
  docs/src/content/docs/inline-mod/lazy.md
Labels: none

Remove debug logs
  packages/inline-mod/src/closure/inspectCode.ts
Labels: pkg/inline-mod

Apply suggestions from code review
  docs/src/content/docs/inline-mod/lazy.md
Labels: none

Format files
  packages/inline-mod/src/closure/inspectCode.ts
Labels: pkg/inline-mod

Improve docs
  docs/src/content/docs/inline-mod/lazy.md
Labels: none

[ci] release (#73)
  .changeset/silent-spies-film.md
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
Labels: pkg/aik-mod

Update docs/src/content/docs/inline-mod/lazy.md
  docs/src/content/docs/inline-mod/lazy.md
Labels: none

[pkg/aik-route-config]: Fixes type issue with `DeepPartial`
  .changeset/warm-balloons-explain.md
  packages/aik-route-config/src/index.ts
Labels: pkg/aik-route-config

[pkg/aik-route-config]: Fixes type issue with `DeepPartial` (#75)
  .changeset/warm-balloons-explain.md
  packages/aik-route-config/src/index.ts
Labels: pkg/aik-route-config

.github/labeler.yml:

# See https://github.com/actions/labeler

automation:
- .github/workflows/**

workspace:
# Any config file at the root
- '*.{js,json}'
- '.*'

pkg/aik-mod:
- 'packages/aik-mod/**'

pkg/aik-route-config:
- 'packages/aik-route-config/**'

pkg/custom-routing:
- 'packages/custom-routing/**'

pkg/inline-mod:
- 'packages/inline-mod/**'

pkg/sitemap-ext:
- 'packages/sitemap-ext/**'

pkg/velox-luna:
- 'packages/velox-luna/**'
