Repository Fryuni/inox-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, workspace, pkg/server-islands, pkg/portal-gun, pkg/cut-short, pkg/request-nanostores, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/runtime-logger, pkg/inline-mod, pkg/modular-station, pkg/sitemap-ext, pkg/request-state, pkg/content-utils, pkg/astro-tests, pkg/velox-luna

feat(request-state): support setting state to undefined (#255)
  .changeset/fix-undefined-state.md
  packages/request-state/e2e/basic.spec.ts
  packages/request-state/e2e/fixture/basic/src/pages/undefined-test.astro
  packages/request-state/src/runtime/clientState.ts
  packages/request-state/src/runtime/serverState.ts
Labels: pkg/request-state

[ci] release (#256)
  .changeset/fix-undefined-state.md
  packages/request-state/CHANGELOG.md
  packages/request-state/package.json
Labels: pkg/request-state

Add support for portals with block elements inside inline elements
  .changeset/block-element-portal.md
  packages/portal-gun/src/runtime/middleware.ts
  packages/portal-gun/tests/common.ts
  packages/portal-gun/tests/fixture/basic/astro.config.ts
  packages/portal-gun/tests/fixture/basic/src/pages/inside-inline-element/_comp/Portal.astro
  packages/portal-gun/tests/fixture/basic/src/pages/inside-inline-element/index.astro
Labels: pkg/portal-gun

Suggested changes
  packages/portal-gun/src/runtime/middleware.ts
Labels: pkg/portal-gun

feat(utils): Improved Lazy utility
  .changeset/improved-lazy-utility.md
  packages/utils/src/lazy.ts
  packages/utils/tests/lazy.test.ts
Labels: none

fix(portal-gun): Add support for portals with block elements inside inline elements (#258)
  .changeset/block-element-portal.md
  packages/portal-gun/src/runtime/middleware.ts
  packages/portal-gun/tests/common.ts
  packages/portal-gun/tests/fixture/basic/astro.config.ts
  packages/portal-gun/tests/fixture/basic/src/pages/inside-inline-element/_comp/Portal.astro
  packages/portal-gun/tests/fixture/basic/src/pages/inside-inline-element/index.astro
Labels: pkg/portal-gun

Simplify constructors
  packages/utils/src/lazy.ts
Labels: none

Rename
  packages/utils/src/lazy.ts
Labels: none

feat(utils): Improved Lazy utility (#259)
  .changeset/improved-lazy-utility.md
  packages/utils/src/lazy.ts
  packages/utils/tests/lazy.test.ts
Labels: none

Update packages/portal-gun/CHANGELOG.md
  packages/portal-gun/CHANGELOG.md
Labels: pkg/portal-gun

[ci] release (#260)
  .changeset/block-element-portal.md
  .changeset/improved-lazy-utility.md
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/astro-tests/CHANGELOG.md
  packages/astro-tests/package.json
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
  packages/cut-short/CHANGELOG.md
  packages/cut-short/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
  packages/modular-station/CHANGELOG.md
  packages/modular-station/package.json
  packages/portal-gun/CHANGELOG.md
  packages/portal-gun/package.json
  packages/request-nanostores/CHANGELOG.md
  packages/request-nanostores/package.json
  packages/request-state/CHANGELOG.md
  packages/request-state/package.json
  packages/runtime-logger/CHANGELOG.md
  packages/runtime-logger/package.json
  packages/server-islands/CHANGELOG.md
  packages/server-islands/package.json
  packages/star-warp/CHANGELOG.md
  packages/star-warp/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Labels: pkg/server-islands, pkg/portal-gun, pkg/cut-short, pkg/request-nanostores, pkg/aik-route-config, pkg/runtime-logger, pkg/inline-mod, pkg/modular-station, pkg/request-state, pkg/content-utils, pkg/astro-tests

chore: Ignore `.wt` folder for worktrees
  .prettierignore
Labels: workspace

feat(utils): Export utility type to unwrap lazy values
  .changeset/many-humans-trade.md
  packages/utils/src/lazy.ts
Labels: none

[ci] release (#261)
  .changeset/many-humans-trade.md
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/utils/src/lazy.ts
Labels: none

chore: Relock dependencies
  flake.lock
  package.json
  pnpm-lock.yaml
Labels: workspace

chore!: Upgrade dependencies
  .changeset/81dba7eb-890e-450a-a1da-64bde0bfd506.md
  packages/aik-route-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg/aik-route-config

Revert catalog
  packages/aik-route-config/package.json
Labels: pkg/aik-route-config

chore!: Upgrade dependencies (#263)
  .changeset/81dba7eb-890e-450a-a1da-64bde0bfd506.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: Add AGENTS.md files
  AGENTS.md
  packages/inline-mod/AGENTS.md
  packages/utils/AGENTS.md
Labels: pkg/inline-mod

chore: add LFS tracking for fixture git archives and ignore nested .git dirs
  .gitattributes
  .gitignore
Labels: workspace

feat(content-utils): add CommitInfo type and collectCommitHistory option
  packages/content-utils/src/integration/index.ts
  packages/content-utils/src/integration/state.ts
  packages/content-utils/virtual.d.ts
Labels: pkg/content-utils

test(content-utils): add git-tracking fixture with archived git repo
  packages/content-utils/tests/fixture/git-tracking/.git.tar.gz
  packages/content-utils/tests/fixture/git-tracking/astro.config.ts
  packages/content-utils/tests/fixture/git-tracking/package.json
  packages/content-utils/tests/fixture/git-tracking/src/content.config.ts
  packages/content-utils/tests/fixture/git-tracking/src/content/entries.json
  packages/content-utils/tests/fixture/git-tracking/src/pages/commits.astro
  packages/content-utils/tests/fixture/git-tracking/tsconfig.json
Labels: pkg/content-utils

feat(content-utils): add commit history parsing and content helper to git runtime
  packages/content-utils/src/runtime/git.ts
  pnpm-lock.yaml
Labels: pkg/content-utils

feat(content-utils): add commit history support for dev and build modes
  packages/content-utils/src/integration/gitPlugin.ts
  packages/content-utils/src/runtime/liveGit.ts
Labels: pkg/content-utils

test(content-utils): add integration tests for commit history tracking
  packages/content-utils/tests/git-tracking.test.ts
Labels: pkg/content-utils

ci: enable Git LFS for test job to fetch fixture archives
  .github/workflows/ci.yml
Labels: automation

chore: Sort package.json files
  examples/inline-mod-aik/package.json
  examples/inline-mod-astro/package.json
  examples/server-islands/package.json
Labels: none

feat(utils): Implement a resolved nanostores atom
  packages/utils/package.json
  packages/utils/src/nano.ts
  pnpm-lock.yaml
Labels: none

[ci] release (#264)
  .changeset/81dba7eb-890e-450a-a1da-64bde0bfd506.md
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/astro-tests/CHANGELOG.md
  packages/astro-tests/package.json
  packages/astro-when/CHANGELOG.md
  packages/astro-when/package.json
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
  packages/custom-routing/CHANGELOG.md
  packages/custom-routing/package.json
  packages/cut-short/CHANGELOG.md
  packages/cut-short/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
  packages/modular-station/CHANGELOG.md
  packages/modular-station/package.json
  packages/portal-gun/CHANGELOG.md
  packages/portal-gun/package.json
  packages/request-nanostores/CHANGELOG.md
  packages/request-nanostores/package.json
  packages/request-state/CHANGELOG.md
  packages/request-state/package.json
  packages/runtime-logger/CHANGELOG.md
  packages/runtime-logger/package.json
  packages/server-islands/CHANGELOG.md
  packages/server-islands/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
  packages/star-warp/CHANGELOG.md
  packages/star-warp/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/velox-luna/CHANGELOG.md
  packages/velox-luna/package.json
Labels: pkg/server-islands, pkg/portal-gun, pkg/cut-short, pkg/request-nanostores, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/runtime-logger, pkg/inline-mod, pkg/modular-station, pkg/sitemap-ext, pkg/request-state, pkg/content-utils, pkg/astro-tests, pkg/velox-luna

Test and changeset
  .changeset/resolved-nanostore-atom.md
  packages/utils/src/nano.ts
  packages/utils/tests/nano.test.ts
Labels: none

feat(utils): Implement auto-dependent computed atom (#266)
  .changeset/resolved-nanostore-atom.md
  packages/utils/package.json
  packages/utils/src/nano.ts
  packages/utils/tests/nano.test.ts
  pnpm-lock.yaml
Labels: none

feat!(utils): Stabilized API
  .changeset/tangy-moons-kneel.md
Labels: none

[ci] release (#267)
  .changeset/resolved-nanostore-atom.md
  .changeset/tangy-moons-kneel.md
  .github/workflows/release.yml
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/astro-tests/CHANGELOG.md
  packages/astro-tests/package.json
  packages/astro-when/package.json
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
  packages/custom-routing/package.json
  packages/cut-short/CHANGELOG.md
  packages/cut-short/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
  packages/modular-station/CHANGELOG.md
  packages/modular-station/package.json
  packages/portal-gun/CHANGELOG.md
  packages/portal-gun/package.json
  packages/request-nanostores/CHANGELOG.md
  packages/request-nanostores/package.json
  packages/request-state/CHANGELOG.md
  packages/request-state/package.json
  packages/runtime-logger/CHANGELOG.md
  packages/runtime-logger/package.json
  packages/server-islands/CHANGELOG.md
  packages/server-islands/package.json
  packages/sitemap-ext/package.json
  packages/star-warp/CHANGELOG.md
  packages/star-warp/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/velox-luna/package.json
Labels: automation, pkg/server-islands, pkg/portal-gun, pkg/cut-short, pkg/request-nanostores, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/runtime-logger, pkg/inline-mod, pkg/modular-station, pkg/sitemap-ext, pkg/request-state, pkg/content-utils, pkg/astro-tests, pkg/velox-luna

feat(utils): Add support for batching on `resolvedAtom`
  .changeset/cyan-beans-argue.md
  packages/utils/src/nano.ts
Labels: none

wip
  docs/src/content/docs/how-it-works/request-state.mdx
  docs/src/content/docs/request-state.mdx
Labels: none

feat: add content-length header when opting out of stream
  packages/request-state/src/runtime/middleware.ts
Labels: pkg/request-state

basic test
  packages/request-state/e2e/basic.spec.ts
Labels: pkg/request-state

tune a bit
  packages/request-state/src/runtime/middleware.ts
Labels: pkg/request-state

fix: coderabbit review
  packages/request-state/src/runtime/middleware.ts
Labels: pkg/request-state

fix: coderabbit review
  packages/request-state/src/runtime/middleware.ts
Labels: pkg/request-state

.github/labeler.yml:

# See https://github.com/actions/labeler

automation:
- .github/workflows/**

workspace:
# Any config file at the root
- '*.{js,json}'
- '.*'

## PACKAGES

pkg/server-islands:
- 'packages/server-islands/**'

pkg/portal-gun:
- 'packages/portal-gun/**'

pkg/cut-short:
- 'packages/cut-short/**'

pkg/request-nanostores:
- 'packages/request-nanostores/**'

pkg/aik-mod:
- 'packages/aik-mod/**'

pkg/aik-route-config:
- 'packages/aik-route-config/**'

pkg/custom-routing:
- 'packages/custom-routing/**'

pkg/runtime-logger:
- 'packages/runtime-logger/**'

pkg/inline-mod:
- 'packages/inline-mod/**'

pkg/modular-station:
- 'packages/modular-station/**'

pkg/sitemap-ext:
- 'packages/sitemap-ext/**'

pkg/request-state:
- 'packages/request-state/**'

pkg/content-utils:
- 'packages/content-utils/**'

pkg/astro-tests:
- 'packages/astro-tests/**'

pkg/velox-luna:
- 'packages/velox-luna/**'
