Repository Fryuni/inox-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, workspace, pkg/inline-mod, pkg/aik-mod, pkg/velox-luna

Do not auto-enter preview mode
  .github/workflows/preview-mode.yml
Labels: automation

Release beta version
  .changeset/pre.json
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
Labels: pkg/inline-mod, pkg/aik-mod

Fix AIK example
  examples/inline-mod-aik/integration.ts
Labels: none

Ignore generated debug artifacts
  .gitignore
Labels: workspace

Update Starlight
  docs/package.json
  pnpm-lock.yaml
Labels: none

Remove i18n docs collection
  docs/src/content/config.ts
Labels: none

Add package information to docs
  docs/astro.config.mjs
  docs/src/components/PageTitle.astro
  docs/src/components/Version.astro
  docs/src/content/config.ts
  docs/src/content/docs/custom-routing/index.md
  docs/src/content/docs/inline-mod/index.md
  docs/src/content/docs/inline-mod/vite-plugin.md
Labels: none

Document AIK plugin
  docs/src/content/docs/inline-mod/AIK Plugin/define-middleware.md
  docs/src/content/docs/inline-mod/AIK Plugin/define-module.md
  docs/src/content/docs/inline-mod/AIK Plugin/index.md
  docs/src/content/docs/inline-mod/AIK Plugin/inline-module.md
Labels: none

Avoid hitting the NPM API while developing
  docs/src/components/Version.astro
  docs/src/content/config.ts
Labels: none

Format
  docs/src/content/docs/inline-mod/AIK Plugin/inline-module.md
Labels: none

Exit preview mode
  .changeset/pre.json
Labels: none

.github/labeler.yml:

# See https://github.com/actions/labeler

automation:
- .github/workflows/**

workspace:
# Any config file at the root
- '*.{js,json}'
- '.*'

pkg/inline-mod:
- 'packages/inline-mod/**'

pkg/aik-mod:
- 'packages/aik-mod/**'

pkg/velox-luna:
- 'packages/velox-luna/**'
