Repository Fryuni/inox-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, workspace, pkg/server-islands, pkg/portal-gun, pkg/cut-short, pkg/request-nanostores, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/runtime-logger, pkg/inline-mod, pkg/modular-station, pkg/sitemap-ext, pkg/request-state, pkg/content-utils, pkg/astro-tests, pkg/velox-luna

.github/labeler.yml:

# See https://github.com/actions/labeler

automation:
- .github/workflows/**

workspace:
# Any config file at the root
- '*.{js,json}'
- '.*'

## PACKAGES

pkg/server-islands:
- 'packages/server-islands/**'

pkg/portal-gun:
- 'packages/portal-gun/**'

pkg/cut-short:
- 'packages/cut-short/**'

pkg/request-nanostores:
- 'packages/request-nanostores/**'

pkg/aik-mod:
- 'packages/aik-mod/**'

pkg/aik-route-config:
- 'packages/aik-route-config/**'

pkg/custom-routing:
- 'packages/custom-routing/**'

pkg/runtime-logger:
- 'packages/runtime-logger/**'

pkg/inline-mod:
- 'packages/inline-mod/**'

pkg/modular-station:
- 'packages/modular-station/**'

pkg/sitemap-ext:
- 'packages/sitemap-ext/**'

pkg/request-state:
- 'packages/request-state/**'

pkg/content-utils:
- 'packages/content-utils/**'

pkg/astro-tests:
- 'packages/astro-tests/**'

pkg/velox-luna:
- 'packages/velox-luna/**'

feat(cut-short): Implement dynamic prerender skip
  .changeset/eager-weeks-feel.md
  packages/cut-short/src/index.ts
  packages/cut-short/src/runtime/entrypoint.ts
  packages/cut-short/tests/basic.test.ts
  packages/cut-short/tests/fixture/basic/src/pages/block-render.astro
  packages/cut-short/virtual.d.ts
Labels: pkg/cut-short

docs(cut-short): Document new `cancelPrerender`
  docs/src/content/docs/cut-short.mdx
Labels: none

Error handling
  packages/cut-short/src/index.ts
Labels: pkg/cut-short

feat(cut-short): Implement dynamic prerender skip (#222)
  .changeset/eager-weeks-feel.md
  docs/src/content/docs/cut-short.mdx
  packages/cut-short/src/index.ts
  packages/cut-short/src/runtime/entrypoint.ts
  packages/cut-short/tests/basic.test.ts
  packages/cut-short/tests/fixture/basic/src/pages/block-render.astro
  packages/cut-short/virtual.d.ts
Labels: pkg/cut-short

[ci] release (#223)
  .changeset/eager-weeks-feel.md
  packages/cut-short/CHANGELOG.md
  packages/cut-short/package.json
  packages/cut-short/src/runtime/entrypoint.ts
Labels: pkg/cut-short

feat(utils): Narrow types on inline equality test
  .changeset/heavy-hornets-argue.md
  packages/utils/src/unist/visit.ts
  packages/utils/tests/unist/visit.test.ts
Labels: none

fix: Unhandled error on example build
  examples/inline-mod-aik/astro.config.mjs
Labels: none

feat(utils): Narrow types on inline equality test (#225)
  .changeset/heavy-hornets-argue.md
  packages/utils/src/unist/visit.ts
  packages/utils/tests/unist/visit.test.ts
Labels: none

[ci] release (#226)
  .changeset/heavy-hornets-argue.md
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/astro-tests/CHANGELOG.md
  packages/astro-tests/package.json
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
  packages/cut-short/CHANGELOG.md
  packages/cut-short/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
  packages/modular-station/CHANGELOG.md
  packages/modular-station/package.json
  packages/portal-gun/CHANGELOG.md
  packages/portal-gun/package.json
  packages/request-nanostores/CHANGELOG.md
  packages/request-nanostores/package.json
  packages/request-state/CHANGELOG.md
  packages/request-state/package.json
  packages/runtime-logger/CHANGELOG.md
  packages/runtime-logger/package.json
  packages/server-islands/CHANGELOG.md
  packages/server-islands/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
  packages/star-warp/CHANGELOG.md
  packages/star-warp/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Labels: pkg/server-islands, pkg/portal-gun, pkg/cut-short, pkg/request-nanostores, pkg/aik-mod, pkg/aik-route-config, pkg/runtime-logger, pkg/inline-mod, pkg/modular-station, pkg/sitemap-ext, pkg/request-state, pkg/content-utils, pkg/astro-tests

docs: Update Croct App ID for development
  docs/.env.development
Labels: none

chore: Upgrade dependencies
  docs/package.json
  examples/custom-routing/package.json
  examples/inline-mod-astro/package.json
  examples/request-nanostores/package.json
  examples/server-islands/package.json
  examples/sitemap-ext/package.json
  package.json
  packages/inline-mod/tests/modules.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo/package.json
Labels: workspace, pkg/inline-mod

Update astroFixture.ts
  packages/astro-tests/src/astroFixture.ts
Labels: pkg/astro-tests

add changeset
  .changeset/eight-apes-sort.md
Labels: none

chore: Update pnpm
  package.json
  pnpm-workspace.yaml
Labels: workspace

fix(docs): Override broken peer dependency inside Orama
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: Update Croct
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: New pnpm upgrade script
  scripts/upgrade-catalog.sh
Labels: none

chore: Use AIK from catalog
  examples/content-injection/package.json
  examples/inline-mod-aik/package.json
  pnpm-lock.yaml
Labels: none

chore: Relock dependencies
  pnpm-lock.yaml
Labels: none

chore: Upgrade dependencies
  .changeset/48be987a-c150-4313-ab1a-fcfc9bb6bce1.md
  docs/package.json
  examples/astro-when/package.json
  examples/content-injection/package.json
  examples/custom-routing/package.json
  examples/inline-mod-aik/package.json
  examples/inline-mod-astro/package.json
  examples/request-nanostores/package.json
  examples/request-state/package.json
  examples/server-islands/package.json
  examples/sitemap-ext/package.json
  flake.lock
  flake.nix
  package.json
  packages/astro-tests/package.json
  packages/astro-when/tests/fixture/hybrid-output/package.json
  packages/astro-when/tests/fixture/server-output/package.json
  packages/astro-when/tests/fixture/static-output/package.json
  packages/content-utils/tests/fixture/static-collections/package.json
  packages/cut-short/tests/fixture/basic/package.json
  packages/cut-short/tests/fixture/nestedComponents/package.json
  packages/portal-gun/tests/fixture/basic/package.json
  packages/request-nanostores/e2e/fixture/basic/package.json
  packages/request-nanostores/tests/fixture/race/package.json
  packages/request-state/e2e/dev.spec.ts
  packages/request-state/e2e/fixture/basic/package.json
  packages/request-state/e2e/fixture/dev/package.json
  packages/request-state/e2e/fixture/view-transitions/package.json
  packages/server-islands/e2e/fixture/basic/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
  turbo/package.json
Labels: workspace, pkg/server-islands, pkg/portal-gun, pkg/cut-short, pkg/request-nanostores, pkg/request-state, pkg/content-utils, pkg/astro-tests

docs: Add new required config for Vercel
  turbo.json
Labels: workspace

docs: Add new required config for Vercel (#233)
  turbo.json
Labels: workspace

fix(sitemap-ext): Combine sitemap integration layers to handle multi-stage adapters
  .changeset/long-feet-build.md
  packages/sitemap-ext/index.ts
Labels: pkg/sitemap-ext

Remove debugger statement
  packages/sitemap-ext/index.ts
Labels: pkg/sitemap-ext

Update packages/sitemap-ext/index.ts
  packages/sitemap-ext/index.ts
Labels: pkg/sitemap-ext

fix(sitemap-ext): Combine sitemap integration layers to handle multi-stage adapters (#234)
  .changeset/long-feet-build.md
  packages/sitemap-ext/index.ts
Labels: pkg/sitemap-ext

Export Fixture type (#227)
  .changeset/eight-apes-sort.md
  packages/astro-tests/src/astroFixture.ts
Labels: pkg/astro-tests

chore: Generate changeset for dependency changes with dev dependencies
  scripts/upgrade-catalog.sh
Labels: none

chore: Fix changelog titles
  examples/astro-when/CHANGELOG.md
  examples/content-injection/CHANGELOG.md
  examples/custom-routing/CHANGELOG.md
  examples/inline-mod-aik/CHANGELOG.md
  examples/inline-mod-astro/CHANGELOG.md
  examples/inline-mod/CHANGELOG.md
  examples/request-nanostores/CHANGELOG.md
  examples/request-state/CHANGELOG.md
  examples/sitemap-ext/CHANGELOG.md
  packages/custom-routing/CHANGELOG.md
Labels: pkg/custom-routing

[ci] release (#232)
  .changeset/48be987a-c150-4313-ab1a-fcfc9bb6bce1.md
  .changeset/eight-apes-sort.md
  .changeset/long-feet-build.md
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/astro-tests/CHANGELOG.md
  packages/astro-tests/package.json
  packages/astro-when/CHANGELOG.md
  packages/astro-when/package.json
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
  packages/custom-routing/CHANGELOG.md
  packages/custom-routing/package.json
  packages/cut-short/CHANGELOG.md
  packages/cut-short/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
  packages/modular-station/CHANGELOG.md
  packages/modular-station/package.json
  packages/portal-gun/CHANGELOG.md
  packages/portal-gun/package.json
  packages/request-nanostores/CHANGELOG.md
  packages/request-nanostores/package.json
  packages/request-state/CHANGELOG.md
  packages/request-state/package.json
  packages/runtime-logger/CHANGELOG.md
  packages/runtime-logger/package.json
  packages/server-islands/CHANGELOG.md
  packages/server-islands/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
  packages/star-warp/CHANGELOG.md
  packages/star-warp/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/velox-luna/CHANGELOG.md
  packages/velox-luna/package.json
Labels: pkg/server-islands, pkg/portal-gun, pkg/cut-short, pkg/request-nanostores, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/runtime-logger, pkg/inline-mod, pkg/modular-station, pkg/sitemap-ext, pkg/request-state, pkg/content-utils, pkg/astro-tests, pkg/velox-luna

fix(content-utils): GitAuthor type
  .changeset/stale-olives-push.md
  packages/content-utils/src/runtime/git.ts
  packages/content-utils/virtual.d.ts
Labels: pkg/content-utils

fix(content-utils): GitAuthor type (#235)
  .changeset/stale-olives-push.md
  packages/content-utils/src/runtime/git.ts
  packages/content-utils/virtual.d.ts
Labels: pkg/content-utils

[ci] release (#236)
  .changeset/stale-olives-push.md
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
Labels: pkg/content-utils

chore: Upgrade dependencies
  .changeset/cba90438-13f3-4db5-af24-425d20fce9dd.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: Improved update script
  scripts/upgrade-catalog.sh
Labels: none

chore: Relock dependencies
  flake.lock
  package.json
  pnpm-lock.yaml
Labels: workspace

Revert "chore: Upgrade dependencies"
  .changeset/cba90438-13f3-4db5-af24-425d20fce9dd.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

chore: Update astro patch
  patches/astro.patch
Labels: none

chore: Relock dependencies with new astro patch
  pnpm-lock.yaml
Labels: none

chore: Improve upgrade script
  scripts/upgrade-catalog.sh
Labels: none
