Repository Fryuni/inox-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, workspace, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/inline-mod, pkg/sitemap-ext, pkg/velox-luna

Update snapshot release workflow
  .github/workflows/snapshot-release.yml
Labels: automation

Build examples on CI
  .github/workflows/ci.yml
Labels: automation

[ci] release (#51)
  .changeset/nine-pigs-thank.md
  .changeset/unlucky-cycles-switch.md
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
Labels: pkg/aik-mod, pkg/aik-route-config, pkg/sitemap-ext

Aligned indentation
  docs/src/content/docs/inline-mod/aik-plugin.md
Labels: none

Syntax Correction
  docs/src/content/docs/inline-mod/aik-plugin.md
Labels: none

Run prettier
  docs/src/content/docs/inline-mod/aik-plugin.md
Labels: none

Update AIK mod docs
  docs/src/content/docs/inline-mod/aik-plugin.md
Labels: none

Improve docs for AIK mod (#52)
  docs/src/content/docs/inline-mod/aik-plugin.md
Labels: none

Update AIK to 0.7.1
  .changeset/big-shoes-melt.md
  examples/inline-mod-aik/package.json
  packages/aik-mod/package.json
  packages/aik-route-config/tsup.config.ts
  packages/sitemap-ext/package.json
  packages/sitemap-ext/tsup.config.ts
  pnpm-lock.yaml
Labels: pkg/aik-mod, pkg/aik-route-config, pkg/sitemap-ext

[ci] release (#53)
  .changeset/big-shoes-melt.md
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
Labels: pkg/sitemap-ext

Fixes crash when a non-exporting module is in the graph
  .changeset/rich-bats-tell.md
  packages/inline-mod/src/closure/inspectCode.ts
Labels: pkg/inline-mod

Fixes crash when a non-exporting module is in the graph (#54)
  .changeset/rich-bats-tell.md
  packages/inline-mod/src/closure/inspectCode.ts
Labels: pkg/inline-mod

[ci] release (#55)
  .changeset/rich-bats-tell.md
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
Labels: pkg/aik-mod, pkg/inline-mod

pkg(velox-luna): Add build logic
  packages/velox-luna/index.ts
  packages/velox-luna/package.json
  packages/velox-luna/src/index.ts
  packages/velox-luna/tsup.config.ts
Labels: pkg/velox-luna

pkg(velox-luna): Patch Lunaria to include status hash
  package.json
  patches/@lunariajs__core@0.0.31.patch
  pnpm-lock.yaml
Labels: workspace

pkg(velox-luna): Implement diff
  .changeset/famous-lamps-grow.md
  packages/velox-luna/package.json
  packages/velox-luna/src/command.ts
  packages/velox-luna/src/diff.ts
  packages/velox-luna/src/index.ts
  packages/velox-luna/src/status.ts
  packages/velox-luna/tsup.config.ts
Labels: pkg/velox-luna

pkg(velox-luna): Add README
  packages/velox-luna/README.md
  packages/velox-luna/package.json
Labels: pkg/velox-luna

Disable tests for now
  packages/velox-luna/package.json
Labels: pkg/velox-luna

[pkg/velox-luna]: Implement smart diff (#56)
  .changeset/famous-lamps-grow.md
  package.json
  packages/velox-luna/README.md
  packages/velox-luna/index.ts
  packages/velox-luna/package.json
  packages/velox-luna/src/command.ts
  packages/velox-luna/src/diff.ts
  packages/velox-luna/src/index.ts
  packages/velox-luna/src/status.ts
  packages/velox-luna/tsup.config.ts
  patches/@lunariajs__core@0.0.31.patch
  pnpm-lock.yaml
Labels: workspace, pkg/velox-luna

[ci] release (#57)
  .changeset/famous-lamps-grow.md
  packages/velox-luna/CHANGELOG.md
  packages/velox-luna/package.json
Labels: pkg/velox-luna

[pkg/velox-luna]: Add transitive dependencies to account for patch bundling
  .changeset/thirty-ties-provide.md
  packages/velox-luna/package.json
  packages/velox-luna/tsup.config.ts
  pnpm-lock.yaml
Labels: pkg/velox-luna

[ci] release (#58)
  .changeset/thirty-ties-provide.md
  packages/velox-luna/CHANGELOG.md
  packages/velox-luna/package.json
Labels: pkg/velox-luna

[pkg/velox-luna]: Bundle all dependencies for compatibility
  .changeset/three-lies-teach.md
  packages/velox-luna/package.json
  packages/velox-luna/tsup.config.ts
  pnpm-lock.yaml
Labels: pkg/velox-luna

Release
  .changeset/three-lies-teach.md
  packages/velox-luna/CHANGELOG.md
  packages/velox-luna/package.json
Labels: pkg/velox-luna

[example/inline-mod-astro]: Add missing dependency
  .gitignore
  examples/inline-mod-astro/package.json
  examples/inline-mod-astro/src/pages/rss.xml.js
  pnpm-lock.yaml
Labels: workspace

update: AIK 0.8
  .changeset/good-snails-cover.md
  .changeset/violet-flies-bathe.md
  examples/inline-mod-aik/package.json
  packages/aik-mod/package.json
  packages/aik-route-config/package.json
  packages/aik-route-config/src/contextResolution.ts
  packages/aik-route-config/src/index.ts
  packages/sitemap-ext/index.ts
  packages/sitemap-ext/package.json
  pnpm-lock.yaml
Labels: pkg/aik-mod, pkg/aik-route-config, pkg/sitemap-ext

Remove redundant dev dependency
  packages/aik-mod/package.json
  pnpm-lock.yaml
Labels: pkg/aik-mod

update: AIK 0.8 (#59)
  .changeset/good-snails-cover.md
  .changeset/violet-flies-bathe.md
  examples/inline-mod-aik/package.json
  packages/aik-mod/package.json
  packages/aik-route-config/package.json
  packages/aik-route-config/src/contextResolution.ts
  packages/aik-route-config/src/index.ts
  packages/sitemap-ext/index.ts
  packages/sitemap-ext/package.json
  pnpm-lock.yaml
Labels: pkg/aik-mod, pkg/aik-route-config, pkg/sitemap-ext

[ci] release (#60)
  .changeset/good-snails-cover.md
  .changeset/violet-flies-bathe.md
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
Labels: pkg/aik-mod, pkg/aik-route-config, pkg/sitemap-ext

Enable Turbo caching in all workflows
  .github/workflows/preview-mode.yml
  .github/workflows/release.yml
  .github/workflows/snapshot-release.yml
Labels: automation

[pkg/aik-route-config]: Adds a log message on SSR import errors
  .changeset/strange-pugs-rush.md
  packages/aik-route-config/src/contextResolution.ts
Labels: pkg/aik-route-config

[pkg/sitemap-ext]: Fixes handling of projects with a base with a trailing slash
  .changeset/weak-sloths-trade.md
  packages/sitemap-ext/index.ts
  packages/sitemap-ext/tsup.config.ts
Labels: pkg/sitemap-ext

[pkg/sitemap-ext]: Fix static SSR pages double entries
  .changeset/perfect-mails-bathe.md
  packages/sitemap-ext/index.ts
Labels: pkg/sitemap-ext

[pkg/aik-route-config]: Adds a log message on SSR import errors
  .changeset/strange-pugs-rush.md
  packages/aik-route-config/src/contextResolution.ts
Labels: pkg/aik-route-config

[pkg/sitemap-ext]: Fixes handling of projects with a base with a trailing slash
  .changeset/weak-sloths-trade.md
  packages/sitemap-ext/index.ts
  packages/sitemap-ext/tsup.config.ts
Labels: pkg/sitemap-ext

[pkg/sitemap-ext]: Fix static SSR pages double entries
  .changeset/perfect-mails-bathe.md
  packages/sitemap-ext/index.ts
Labels: pkg/sitemap-ext

[ci] release (#62)
  .changeset/perfect-mails-bathe.md
  .changeset/strange-pugs-rush.md
  .changeset/weak-sloths-trade.md
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
Labels: pkg/aik-route-config, pkg/sitemap-ext

feat: Initial example deploy configuration
  .github/workflows/example-deploys.yml
  examples/deploy-cloudflare.sh
  examples/sitemap-ext/astro.config.mjs
Labels: automation

feat: Deploy other examples to Cloudflare
  .github/workflows/example-deploys.yml
  examples/custom-routing/astro.config.mjs
Labels: automation

feat: Initial example deploy configuration
  .github/workflows/example-deploys.yml
  examples/deploy-cloudflare.sh
  examples/sitemap-ext/astro.config.mjs
Labels: automation

.github/labeler.yml:

# See https://github.com/actions/labeler

automation:
- .github/workflows/**

workspace:
# Any config file at the root
- '*.{js,json}'
- '.*'

pkg/aik-mod:
- 'packages/aik-mod/**'

pkg/aik-route-config:
- 'packages/aik-route-config/**'

pkg/custom-routing:
- 'packages/custom-routing/**'

pkg/inline-mod:
- 'packages/inline-mod/**'

pkg/sitemap-ext:
- 'packages/sitemap-ext/**'

pkg/velox-luna:
- 'packages/velox-luna/**'
