Repository Fryuni/inox-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, workspace, pkg/server-islands, pkg/portal-gun, pkg/cut-short, pkg/request-nanostores, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/runtime-logger, pkg/inline-mod, pkg/modular-station, pkg/sitemap-ext, pkg/request-state, pkg/content-utils, pkg/astro-tests, pkg/velox-luna

.github/labeler.yml:

# See https://github.com/actions/labeler

automation:
- .github/workflows/**

workspace:
# Any config file at the root
- '*.{js,json}'
- '.*'

## PACKAGES

pkg/server-islands:
- 'packages/server-islands/**'

pkg/portal-gun:
- 'packages/portal-gun/**'

pkg/cut-short:
- 'packages/cut-short/**'

pkg/request-nanostores:
- 'packages/request-nanostores/**'

pkg/aik-mod:
- 'packages/aik-mod/**'

pkg/aik-route-config:
- 'packages/aik-route-config/**'

pkg/custom-routing:
- 'packages/custom-routing/**'

pkg/runtime-logger:
- 'packages/runtime-logger/**'

pkg/inline-mod:
- 'packages/inline-mod/**'

pkg/modular-station:
- 'packages/modular-station/**'

pkg/sitemap-ext:
- 'packages/sitemap-ext/**'

pkg/request-state:
- 'packages/request-state/**'

pkg/content-utils:
- 'packages/content-utils/**'

pkg/astro-tests:
- 'packages/astro-tests/**'

pkg/velox-luna:
- 'packages/velox-luna/**'

chore: Relock dependencies
  flake.lock
  package.json
  pnpm-lock.yaml
Labels: workspace

WIP
  scripts/upgrade-catalog.sh
Labels: none

chore: Improve upgrade script
  scripts/upgrade-catalog.sh
Labels: none

chore: Upgrade non-breaking dependencies (#240)
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/upgrade-catalog.sh
Labels: none

chore: Auto update PRs
  scripts/upgrade-catalog.sh
Labels: none

chore: Upgrade non-breaking dependencies
  docs/package.json
  examples/astro-when/package.json
  examples/content-injection/package.json
  examples/custom-routing/package.json
  examples/inline-mod-aik/package.json
  examples/inline-mod-astro/package.json
  examples/inline-mod/package.json
  examples/request-nanostores/package.json
  examples/request-state/package.json
  examples/server-islands/package.json
  examples/sitemap-ext/package.json
  packages/aik-mod/package.json
  packages/aik-route-config/package.json
  packages/astro-tests/package.json
  packages/astro-when/package.json
  packages/astro-when/tests/fixture/hybrid-output/package.json
  packages/astro-when/tests/fixture/server-output/package.json
  packages/astro-when/tests/fixture/static-output/package.json
  packages/content-utils/package.json
  packages/content-utils/tests/fixture/static-collections/package.json
  packages/custom-routing/package.json
  packages/cut-short/package.json
  packages/cut-short/tests/fixture/basic/package.json
  packages/cut-short/tests/fixture/nestedComponents/package.json
  packages/modular-station/package.json
  packages/portal-gun/package.json
  packages/portal-gun/tests/fixture/basic/package.json
  packages/request-nanostores/e2e/fixture/basic/package.json
  packages/request-nanostores/package.json
  packages/request-nanostores/tests/fixture/race/package.json
  packages/request-state/e2e/fixture/basic/package.json
  packages/request-state/e2e/fixture/dev/package.json
  packages/request-state/e2e/fixture/view-transitions/package.json
  packages/request-state/package.json
  packages/runtime-logger/package.json
  packages/server-islands/e2e/fixture/basic/package.json
  packages/server-islands/package.json
  packages/sitemap-ext/package.json
  packages/star-warp/package.json
  packages/utils/package.json
Labels: pkg/server-islands, pkg/portal-gun, pkg/cut-short, pkg/request-nanostores, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/runtime-logger, pkg/modular-station, pkg/sitemap-ext, pkg/request-state, pkg/content-utils, pkg/astro-tests

WIP
  .gitignore
  scripts/upgrade-catalog.sh
Labels: workspace

Patch AIK intermediary type
  patches/astro-integration-kit.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

WIP
  scripts/upgrade-catalog.sh
Labels: none

chore!: Upgrade breaking dependencies (#243)
  .changeset/673dcc73-3ccf-47b2-9d51-d5f53b8fe88f.md
  .gitignore
  patches/astro-integration-kit.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/upgrade-catalog.sh
Labels: workspace

chore: Resolve dep conflicts without patching
  packages/aik-route-config/package.json
  patches/astro-integration-kit.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg/aik-route-config

chore: Resolve dep conflicts without patching (#244)
  packages/aik-route-config/package.json
  patches/astro-integration-kit.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg/aik-route-config

[ci] release (#238)
  .changeset/673dcc73-3ccf-47b2-9d51-d5f53b8fe88f.md
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/astro-tests/CHANGELOG.md
  packages/astro-tests/package.json
  packages/astro-when/CHANGELOG.md
  packages/astro-when/package.json
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
  packages/custom-routing/CHANGELOG.md
  packages/custom-routing/package.json
  packages/cut-short/CHANGELOG.md
  packages/cut-short/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
  packages/modular-station/CHANGELOG.md
  packages/modular-station/package.json
  packages/portal-gun/CHANGELOG.md
  packages/portal-gun/package.json
  packages/request-nanostores/CHANGELOG.md
  packages/request-nanostores/package.json
  packages/request-state/CHANGELOG.md
  packages/request-state/package.json
  packages/runtime-logger/CHANGELOG.md
  packages/runtime-logger/package.json
  packages/server-islands/CHANGELOG.md
  packages/server-islands/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
  packages/star-warp/CHANGELOG.md
  packages/star-warp/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/velox-luna/CHANGELOG.md
  packages/velox-luna/package.json
Labels: pkg/server-islands, pkg/portal-gun, pkg/cut-short, pkg/request-nanostores, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/runtime-logger, pkg/inline-mod, pkg/modular-station, pkg/sitemap-ext, pkg/request-state, pkg/content-utils, pkg/astro-tests, pkg/velox-luna

Fix imports in cut-short.mdx
  docs/src/content/docs/cut-short.mdx
Labels: none

docs(cut-short): Fix imports in example codeblocks (#245)
  docs/src/content/docs/cut-short.mdx
Labels: none

fix(sitemap-ext): keep types in sync
  .changeset/eleven-eagles-remain.md
  packages/sitemap-ext/index.ts
Labels: pkg/sitemap-ext

fix(sitemap-ext): keep types in sync (#246)
  .changeset/eleven-eagles-remain.md
  packages/sitemap-ext/index.ts
Labels: pkg/sitemap-ext

[ci] release (#247)
  .changeset/eleven-eagles-remain.md
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
Labels: pkg/sitemap-ext

Support a single page partial
  packages/request-state/e2e/fixture/page-partial/astro.config.ts
  packages/request-state/e2e/fixture/page-partial/package.json
  packages/request-state/e2e/fixture/page-partial/src/pages/index.astro
  packages/request-state/e2e/fixture/page-partial/tsconfig.json
  packages/request-state/e2e/page-partial.spec.ts
  packages/request-state/src/runtime/middleware.ts
Labels: pkg/request-state

Add test that partials are resolved correctly
  packages/request-nanostores/e2e/fixture/partials/bar/astro.config.ts
  packages/request-nanostores/e2e/fixture/partials/bar/package.json
  packages/request-nanostores/e2e/fixture/partials/bar/src/pages/index.astro
  packages/request-nanostores/e2e/fixture/partials/bar/src/state.ts
  packages/request-nanostores/e2e/fixture/partials/bar/tsconfig.json
  packages/request-nanostores/e2e/fixture/partials/foo-first/astro.config.ts
  packages/request-nanostores/e2e/fixture/partials/foo-first/package.json
  packages/request-nanostores/e2e/fixture/partials/foo-first/src/pages/index.astro
  packages/request-nanostores/e2e/fixture/partials/foo-first/src/state.ts
  packages/request-nanostores/e2e/fixture/partials/foo-first/tsconfig.json
  packages/request-nanostores/e2e/fixture/partials/foo-second/astro.config.ts
  packages/request-nanostores/e2e/fixture/partials/foo-second/package.json
  packages/request-nanostores/e2e/fixture/partials/foo-second/src/pages/index.astro
  packages/request-nanostores/e2e/fixture/partials/foo-second/src/state.ts
  packages/request-nanostores/e2e/fixture/partials/foo-second/tsconfig.json
  packages/request-nanostores/e2e/fixture/partials/proxy/astro.config.ts
  packages/request-nanostores/e2e/fixture/partials/proxy/package.json
  packages/request-nanostores/e2e/fixture/partials/proxy/src/pages/index.astro
  packages/request-nanostores/e2e/fixture/partials/proxy/src/state.ts
  packages/request-nanostores/e2e/fixture/partials/proxy/tsconfig.json
  packages/request-nanostores/e2e/partials.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg/request-nanostores

Support multiple partials resolved during SSR
  packages/request-nanostores/src/runtime/client.ts
  packages/request-nanostores/src/runtime/server.ts
  packages/request-state/src/plugin.ts
  packages/request-state/src/runtime/clientState.ts
  packages/request-state/src/runtime/middleware.ts
  packages/request-state/src/runtime/serverState.ts
  packages/request-state/virtual.d.ts
Labels: pkg/request-nanostores, pkg/request-state

The user can cancel the update with preventDefault and no changes will leak into the state
  packages/request-state/src/runtime/clientState.ts
Labels: pkg/request-state

Clean up a bit
  packages/request-state/src/runtime/clientState.ts
Labels: pkg/request-state

Resolve the easy issues
  packages/request-nanostores/src/runtime/client.ts
  packages/request-nanostores/src/runtime/server.ts
  packages/request-state/src/runtime/clientState.ts
Labels: pkg/request-nanostores, pkg/request-state

Clear the state every time
  packages/request-state/src/runtime/clientState.ts
Labels: pkg/request-state

Reduce API surface of request-state to reduce risk of consumers accessing each other's data
  packages/request-nanostores/src/runtime/client.ts
  packages/request-nanostores/src/runtime/server.ts
  packages/request-state/src/plugin.ts
  packages/request-state/src/runtime/clientState.ts
  packages/request-state/src/runtime/serverState.ts
  packages/request-state/virtual.d.ts
Labels: pkg/request-nanostores, pkg/request-state

Fix: ServerStateLoaded event can be cancelled
  packages/request-state/src/runtime/clientState.ts
Labels: pkg/request-state

Fix virtual module types
  packages/request-state/virtual.d.ts
Labels: pkg/request-state

Fix nanostore server state access
  packages/request-nanostores/src/runtime/server.ts
Labels: pkg/request-nanostores

Run formatter
  packages/request-nanostores/e2e/fixture/partials/bar/astro.config.ts
  packages/request-nanostores/e2e/fixture/partials/bar/src/pages/index.astro
  packages/request-nanostores/e2e/fixture/partials/foo-first/astro.config.ts
  packages/request-nanostores/e2e/fixture/partials/foo-first/src/pages/index.astro
  packages/request-nanostores/e2e/fixture/partials/foo-second/astro.config.ts
  packages/request-nanostores/e2e/fixture/partials/foo-second/src/pages/index.astro
  packages/request-nanostores/e2e/fixture/partials/proxy/src/pages/index.astro
  packages/request-nanostores/e2e/partials.test.ts
  packages/request-state/src/runtime/clientState.ts
  packages/request-state/src/runtime/serverState.ts
  pnpm-workspace.yaml
Labels: pkg/request-nanostores, pkg/request-state

feat(request-state,request-nanostores): Support partials (#250)
  packages/request-nanostores/e2e/fixture/partials/bar/astro.config.ts
  packages/request-nanostores/e2e/fixture/partials/bar/package.json
  packages/request-nanostores/e2e/fixture/partials/bar/src/pages/index.astro
  packages/request-nanostores/e2e/fixture/partials/bar/src/state.ts
  packages/request-nanostores/e2e/fixture/partials/bar/tsconfig.json
  packages/request-nanostores/e2e/fixture/partials/foo-first/astro.config.ts
  packages/request-nanostores/e2e/fixture/partials/foo-first/package.json
  packages/request-nanostores/e2e/fixture/partials/foo-first/src/pages/index.astro
  packages/request-nanostores/e2e/fixture/partials/foo-first/src/state.ts
  packages/request-nanostores/e2e/fixture/partials/foo-first/tsconfig.json
  packages/request-nanostores/e2e/fixture/partials/foo-second/astro.config.ts
  packages/request-nanostores/e2e/fixture/partials/foo-second/package.json
  packages/request-nanostores/e2e/fixture/partials/foo-second/src/pages/index.astro
  packages/request-nanostores/e2e/fixture/partials/foo-second/src/state.ts
  packages/request-nanostores/e2e/fixture/partials/foo-second/tsconfig.json
  packages/request-nanostores/e2e/fixture/partials/proxy/astro.config.ts
  packages/request-nanostores/e2e/fixture/partials/proxy/package.json
  packages/request-nanostores/e2e/fixture/partials/proxy/src/pages/index.astro
  packages/request-nanostores/e2e/fixture/partials/proxy/src/state.ts
  packages/request-nanostores/e2e/fixture/partials/proxy/tsconfig.json
  packages/request-nanostores/e2e/partials.test.ts
  packages/request-nanostores/src/runtime/client.ts
  packages/request-nanostores/src/runtime/server.ts
  packages/request-state/e2e/fixture/page-partial/astro.config.ts
  packages/request-state/e2e/fixture/page-partial/package.json
  packages/request-state/e2e/fixture/page-partial/src/pages/index.astro
  packages/request-state/e2e/fixture/page-partial/tsconfig.json
  packages/request-state/e2e/page-partial.spec.ts
  packages/request-state/src/plugin.ts
  packages/request-state/src/runtime/clientState.ts
  packages/request-state/src/runtime/middleware.ts
  packages/request-state/src/runtime/serverState.ts
  packages/request-state/virtual.d.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg/request-nanostores, pkg/request-state

feat(request-state,request-nanostores): Add missing changeset
  .changeset/big-olives-agree.md
Labels: none

chore: Relock dependencies
  flake.lock
  package.json
  pnpm-lock.yaml
Labels: workspace

chore!: Upgrade dependencies
  .changeset/3a22d306-7705-4dd3-bc70-5ff3e25dd346.md
  packages/aik-route-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: pkg/aik-route-config

chore: Update tests
  examples/custom-routing/src/routes/index.astro
  examples/sitemap-ext/src/pages/index.astro
  packages/inline-mod/tests/modules.test.ts
Labels: pkg/inline-mod

chore: Improve changeset
  .changeset/big-olives-agree.md
Labels: none

[ci] release (#251)
  .changeset/big-olives-agree.md
  packages/request-nanostores/CHANGELOG.md
  packages/request-nanostores/package.json
  packages/request-state/CHANGELOG.md
  packages/request-state/package.json
Labels: pkg/request-nanostores, pkg/request-state

Add shallow fetch warning to content utils, git times section
  docs/src/content/docs/content-utils/index.mdx
Labels: none

Update docs/src/content/docs/content-utils/index.mdx
  docs/src/content/docs/content-utils/index.mdx
Labels: none

docs(content-utils): Add shallow fetch warning to git times section (#253)
  docs/src/content/docs/content-utils/index.mdx
Labels: none
