Repository Fryuni/inox-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, workspace, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/inline-mod, pkg/sitemap-ext, pkg/velox-luna

Format file
  docs/src/content/docs/sitemap-ext.md
Labels: none

Add package to the home page
  docs/src/content/docs/index.mdx
  docs/src/content/docs/sitemap-ext.md
Labels: none

Update badges
  docs/astro.config.mjs
Labels: none

Update docs/src/content/docs/sitemap-ext.md
  docs/src/content/docs/sitemap-ext.md
Labels: none

Add link check Starlight plugin
  docs/astro.config.mjs
  docs/package.json
  pnpm-lock.yaml
Labels: none

Update docs
  docs/src/content/docs/sitemap-ext.md
Labels: none

docs: Document sitemap extension (#41)
  docs/astro.config.mjs
  docs/src/content/docs/declarative-sitemap.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/sitemap-ext.md
Labels: none

docs[pkg/sitemap-ext]: Fix example error
  docs/src/content/docs/sitemap-ext.md
Labels: none

Add logger to hoist plugin
  packages/aik-route-config/__tests__/hoist.test.ts
  packages/aik-route-config/__tests__/utils.ts
  packages/aik-route-config/hoistGlobalPlugin.ts
  packages/aik-route-config/index.ts
Labels: pkg/aik-route-config

[pkg/aik-route-config]: Fix incorrect import assumptions
  .changeset/red-bottles-melt.md
  packages/aik-route-config/__tests__/fixtures/scriptBlock.astro
  packages/aik-route-config/__tests__/scriptBlocks.test.ts
  packages/aik-route-config/hoistGlobalPlugin.ts
Labels: pkg/aik-route-config

Change preview command to create snapshot releases
  .github/workflows/preview-commands.yml
Labels: automation

Fix GH workflow
  .github/workflows/preview-commands.yml
Labels: automation

Fix GH workflow
  .github/workflows/preview-commands.yml
Labels: automation

WIP
  packages/aik-route-config/package.json
Labels: pkg/aik-route-config

Update lockfile
  pnpm-lock.yaml
Labels: none

WIP
  .changeset/fast-zebras-destroy.md
  packages/aik-route-config/contextResolution.ts
Labels: pkg/aik-route-config

Format files
  packages/aik-route-config/contextResolution.ts
Labels: pkg/aik-route-config

Setting package manager in corepack format
  package.json
Labels: workspace

Normalize path for context construction
  .changeset/fluffy-penguins-hunt.md
  packages/aik-route-config/contextResolution.ts
Labels: pkg/aik-route-config

Disable warning during dev and preview server
  .changeset/friendly-llamas-admire.md
  packages/aik-route-config/index.ts
Labels: pkg/aik-route-config

[pkg/aik-route-config]: Fix incorrect import assumptions (#45)
  .changeset/fast-zebras-destroy.md
  .changeset/fluffy-penguins-hunt.md
  .changeset/friendly-llamas-admire.md
  .changeset/red-bottles-melt.md
  packages/aik-route-config/__tests__/fixtures/scriptBlock.astro
  packages/aik-route-config/__tests__/scriptBlocks.test.ts
  packages/aik-route-config/contextResolution.ts
  packages/aik-route-config/hoistGlobalPlugin.ts
  packages/aik-route-config/index.ts
  packages/aik-route-config/package.json
  pnpm-lock.yaml
Labels: pkg/aik-route-config

[ci] release (#46)
  .changeset/fast-zebras-destroy.md
  .changeset/fluffy-penguins-hunt.md
  .changeset/friendly-llamas-admire.md
  .changeset/red-bottles-melt.md
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
Labels: pkg/aik-route-config, pkg/sitemap-ext

Dedup NPM fetch
  docs/src/components/Version.astro
  docs/src/utils/fetch.ts
Labels: none

Fix docs TSConfig
  docs/tsconfig.json
Labels: none

Dedup NPM fetch (#47)
  docs/src/components/Version.astro
  docs/src/utils/fetch.ts
  docs/tsconfig.json
Labels: none

Reorganize AIK plugin docs
  docs/astro.config.ts
  docs/public/favicon.png
  docs/public/favicon.svg
  docs/src/content/docs/aik-plugins/Inline Mod/define-middleware.md
  docs/src/content/docs/aik-plugins/Inline Mod/define-module.md
  docs/src/content/docs/aik-plugins/Inline Mod/index.md
  docs/src/content/docs/aik-plugins/Inline Mod/inline-module.md
Labels: none

WIP
  docs/src/content/docs/aik-plugins/route-config.md
Labels: none

WIP
  docs/src/content/docs/aik-plugins/route-config.md
Labels: none

Add sidebar to landing page
  docs/src/content/docs/index.mdx
Labels: none

Reorganized docs
  docs/astro.config.ts
  docs/src/content/docs/aik-plugins/inline-mod/define-middleware.md
  docs/src/content/docs/aik-plugins/inline-mod/define-module.md
  docs/src/content/docs/aik-plugins/inline-mod/index.md
  docs/src/content/docs/aik-plugins/inline-mod/inline-module.md
  docs/src/content/docs/index.mdx
Labels: none

Format
  docs/src/content/docs/index.mdx
Labels: none

Simplify aik-mod docs
  docs/src/content/docs/aik-plugins/inline-mod/index.md
Labels: none

WIP
  docs/astro.config.ts
  docs/src/content/docs/aik-plugins/inline-mod/define-middleware.md
  docs/src/content/docs/aik-plugins/inline-mod/define-module.md
  docs/src/content/docs/aik-plugins/inline-mod/index.md
  docs/src/content/docs/aik-plugins/inline-mod/inline-module.md
  docs/src/content/docs/custom-routing.md
  docs/src/content/docs/inline-mod/aik-plugin.md
  docs/src/content/docs/inline-mod/factory-wrappers.md
  docs/src/content/docs/inline-mod/under-the-hood.md
  docs/src/content/docs/inline-mod/vite-plugin.md
Labels: none

Fix typo
  docs/src/content/docs/inline-mod/factory-wrappers.md
Labels: none

WIP
  .changeset/cold-gifts-boil.md
  .changeset/new-taxis-bake.md
  packages/aik-mod/package.json
  packages/aik-mod/src/index.ts
  packages/inline-mod/package.json
  packages/inline-mod/src/index.ts
  packages/inline-mod/src/vite.ts
  packages/inline-mod/tsup.config.ts
  pnpm-lock.yaml
Labels: pkg/aik-mod, pkg/inline-mod

Improve Docs and DX (#49)
  .changeset/cold-gifts-boil.md
  .changeset/new-taxis-bake.md
  docs/astro.config.ts
  docs/src/content/docs/aik-plugins/Inline Mod/define-middleware.md
  docs/src/content/docs/aik-plugins/Inline Mod/define-module.md
  docs/src/content/docs/aik-plugins/Inline Mod/index.md
  docs/src/content/docs/aik-plugins/Inline Mod/inline-module.md
  docs/src/content/docs/custom-routing.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/inline-mod/aik-plugin.md
  docs/src/content/docs/inline-mod/factory-wrappers.md
  docs/src/content/docs/inline-mod/under-the-hood.md
  docs/src/content/docs/inline-mod/vite-plugin.md
  packages/aik-mod/package.json
  packages/aik-mod/src/index.ts
  packages/inline-mod/package.json
  packages/inline-mod/src/index.ts
  packages/inline-mod/src/vite.ts
  packages/inline-mod/tsup.config.ts
  pnpm-lock.yaml
Labels: pkg/aik-mod, pkg/inline-mod

[ci] release (#50)
  .changeset/cold-gifts-boil.md
  .changeset/new-taxis-bake.md
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
Labels: pkg/aik-mod, pkg/inline-mod

Bump AIK to version 0.7
  .changeset/nine-pigs-thank.md
  examples/inline-mod-aik/package.json
  packages/aik-mod/package.json
  packages/aik-mod/src/index.ts
  packages/aik-route-config/package.json
  packages/sitemap-ext/index.ts
  packages/sitemap-ext/package.json
Labels: pkg/aik-mod, pkg/aik-route-config, pkg/sitemap-ext

Distribute built packages
  .changeset/unlucky-cycles-switch.md
  packages/aik-route-config/__tests__/hoist.test.ts
  packages/aik-route-config/__tests__/scriptBlocks.test.ts
  packages/aik-route-config/package.json
  packages/aik-route-config/src/contextResolution.ts
  packages/aik-route-config/src/hoistGlobalPlugin.ts
  packages/aik-route-config/src/index.ts
  packages/aik-route-config/src/once.ts
  packages/aik-route-config/tsup.config.ts
  packages/sitemap-ext/package.json
  packages/sitemap-ext/tsconfig.json
  packages/sitemap-ext/tsup.config.ts
  pnpm-lock.yaml
Labels: pkg/aik-route-config, pkg/sitemap-ext

Sort package.json files
  docs/package.json
  examples/custom-routing/package.json
  examples/inline-mod-aik/package.json
  examples/inline-mod-astro/package.json
  examples/sitemap-ext/package.json
  package.json
  packages/custom-routing/package.json
  packages/inline-mod/package.json
  packages/sitemap-ext/package.json
Labels: workspace, pkg/custom-routing, pkg/inline-mod, pkg/sitemap-ext

.github/labeler.yml:

# See https://github.com/actions/labeler

automation:
- .github/workflows/**

workspace:
# Any config file at the root
- '*.{js,json}'
- '.*'

pkg/aik-mod:
- 'packages/aik-mod/**'

pkg/aik-route-config:
- 'packages/aik-route-config/**'

pkg/custom-routing:
- 'packages/custom-routing/**'

pkg/inline-mod:
- 'packages/inline-mod/**'

pkg/sitemap-ext:
- 'packages/sitemap-ext/**'

pkg/velox-luna:
- 'packages/velox-luna/**'
