Repository Fryuni/inox-tools, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, workspace, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/inline-mod, pkg/sitemap-ext, pkg/velox-luna

.github/labeler.yml:

# See https://github.com/actions/labeler

automation:
- .github/workflows/**

workspace:
# Any config file at the root
- '*.{js,json}'
- '.*'

pkg/aik-mod:
- 'packages/aik-mod/**'

pkg/aik-route-config:
- 'packages/aik-route-config/**'

pkg/custom-routing:
- 'packages/custom-routing/**'

pkg/inline-mod:
- 'packages/inline-mod/**'

pkg/sitemap-ext:
- 'packages/sitemap-ext/**'

pkg/velox-luna:
- 'packages/velox-luna/**'

[ci] release (#76)
  .changeset/warm-balloons-explain.md
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
Labels: pkg/aik-route-config, pkg/sitemap-ext

Update all dependencies
  .changeset/cyan-tigers-warn.md
  .changeset/short-buckets-sell.md
  docs/package.json
  examples/astro-when/package.json
  examples/custom-routing/package.json
  examples/inline-mod-aik/package.json
  examples/inline-mod-astro/package.json
  examples/inline-mod/package.json
  examples/sitemap-ext/package.json
  package.json
  packages/aik-mod/package.json
  packages/aik-route-config/package.json
  packages/aik-route-config/src/contextResolution.ts
  packages/astro-when/package.json
  packages/astro-when/src/index.ts
  packages/custom-routing/package.json
  packages/inline-mod/package.json
  packages/sitemap-ext/index.ts
  packages/sitemap-ext/package.json
  packages/velox-luna/package.json
  pnpm-lock.yaml
  turbo/package.json
Labels: workspace, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/inline-mod, pkg/sitemap-ext, pkg/velox-luna

Update changesets
  .changeset/cyan-tigers-warn.md
  .changeset/short-buckets-sell.md
Labels: none

chore: Update all dependencies (#77)
  .changeset/cyan-tigers-warn.md
  .changeset/short-buckets-sell.md
  docs/package.json
  examples/astro-when/package.json
  examples/custom-routing/package.json
  examples/inline-mod-aik/package.json
  examples/inline-mod-astro/package.json
  examples/inline-mod/package.json
  examples/sitemap-ext/package.json
  package.json
  packages/aik-mod/package.json
  packages/aik-route-config/package.json
  packages/aik-route-config/src/contextResolution.ts
  packages/astro-when/package.json
  packages/astro-when/src/index.ts
  packages/custom-routing/package.json
  packages/inline-mod/package.json
  packages/sitemap-ext/index.ts
  packages/sitemap-ext/package.json
  packages/velox-luna/package.json
  pnpm-lock.yaml
  turbo/package.json
Labels: workspace, pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/inline-mod, pkg/sitemap-ext, pkg/velox-luna

[pkg/inline-mod]: Implements new `lazyValue` utility (#74)
  .changeset/wicked-fireants-switch.md
  docs/src/content/docs/inline-mod/aik-plugin.md
  docs/src/content/docs/inline-mod/lazy.md
  packages/aik-mod/src/index.ts
  packages/inline-mod/src/closure/inspectCode.ts
  packages/inline-mod/src/index.ts
  packages/inline-mod/tests/functions.test.ts
  packages/inline-mod/tests/specialValues.test.ts
  packages/inline-mod/tsconfig.json
Labels: pkg/aik-mod, pkg/inline-mod

[ci] release (#78)
  .changeset/cyan-tigers-warn.md
  .changeset/short-buckets-sell.md
  .changeset/wicked-fireants-switch.md
  examples/astro-when/CHANGELOG.md
  examples/astro-when/package.json
  examples/custom-routing/CHANGELOG.md
  examples/custom-routing/package.json
  examples/inline-mod-aik/CHANGELOG.md
  examples/inline-mod-aik/package.json
  examples/inline-mod-astro/CHANGELOG.md
  examples/inline-mod-astro/package.json
  examples/inline-mod/CHANGELOG.md
  examples/inline-mod/package.json
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/astro-when/CHANGELOG.md
  packages/astro-when/package.json
  packages/custom-routing/CHANGELOG.md
  packages/custom-routing/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
  packages/velox-luna/CHANGELOG.md
  packages/velox-luna/package.json
Labels: pkg/aik-mod, pkg/aik-route-config, pkg/custom-routing, pkg/inline-mod, pkg/sitemap-ext, pkg/velox-luna

WIP
  docs/src/content/docs/aik-plugins/route-config.md
Labels: none

WIP
  docs/src/content/docs/aik-plugins/route-config.md
Labels: none

Reorganize Sidebar
  docs/astro.config.ts
Labels: none

[pkg/astro-atlas]: Working for server builds and prerendering
  examples/astro-atlas/.gitignore
  examples/astro-atlas/README.md
  examples/astro-atlas/astro.config.ts
  examples/astro-atlas/package.json
  examples/astro-atlas/public/favicon.svg
  examples/astro-atlas/src/env.d.ts
  examples/astro-atlas/src/pages/[...slug].astro
  examples/astro-atlas/src/pages/index.astro
  examples/astro-atlas/tsconfig.json
  packages/astro-atlas/README.md
  packages/astro-atlas/gitignore
  packages/astro-atlas/npmignore
  packages/astro-atlas/package.json
  packages/astro-atlas/src/index.ts
  packages/astro-atlas/src/middleware.ts
  packages/astro-atlas/src/state.ts
  packages/astro-atlas/src/types.ts
  packages/astro-atlas/tsconfig.json
  packages/astro-atlas/tsup.config.ts
  packages/astro-atlas/virtual.d.ts
  pnpm-lock.yaml
Labels: none

feat: upgrade to aik 0.13
  examples/inline-mod-aik/package.json
  packages/aik-mod/package.json
  packages/aik-mod/src/index.ts
  packages/aik-route-config/package.json
  packages/aik-route-config/src/index.ts
  packages/astro-when/package.json
  packages/astro-when/src/index.ts
  packages/sitemap-ext/index.ts
  packages/sitemap-ext/package.json
  pnpm-lock.yaml
Labels: pkg/aik-mod, pkg/aik-route-config, pkg/sitemap-ext

chore: changeset
  .changeset/ninety-rice-battle.md
Labels: none

Update .changeset/ninety-rice-battle.md
  .changeset/ninety-rice-battle.md
Labels: none

feat: upgrade to aik 0.13 (#80)
  .changeset/ninety-rice-battle.md
  examples/inline-mod-aik/package.json
  packages/aik-mod/package.json
  packages/aik-mod/src/index.ts
  packages/aik-route-config/package.json
  packages/aik-route-config/src/index.ts
  packages/astro-when/package.json
  packages/astro-when/src/index.ts
  packages/sitemap-ext/index.ts
  packages/sitemap-ext/package.json
  pnpm-lock.yaml
Labels: pkg/aik-mod, pkg/aik-route-config, pkg/sitemap-ext

[ci] release (#81)
  .changeset/ninety-rice-battle.md
  examples/astro-when/CHANGELOG.md
  examples/astro-when/package.json
  examples/inline-mod-aik/CHANGELOG.md
  examples/inline-mod-aik/package.json
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/astro-when/CHANGELOG.md
  packages/astro-when/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
Labels: pkg/aik-mod, pkg/aik-route-config, pkg/sitemap-ext

feat: Add template for new integrations
  turbo/generators/config.ts
  turbo/generators/integration/index.ts
  turbo/generators/integration/templates/README.md.hbs
  turbo/generators/integration/templates/npmignore
  turbo/generators/integration/templates/package.json.hbs
  turbo/generators/integration/templates/src/index.ts.hbs
  turbo/generators/integration/templates/tsconfig.json
  turbo/generators/integration/templates/tsup.config.ts.hbs
  turbo/generators/integration/templates/virtual.d.ts.hbs
Labels: none

chore: Update PNPM
  package.json
  pnpm-lock.yaml
Labels: workspace

Change template to include utils
  turbo/generators/integration/templates/package.json.hbs
  turbo/generators/integration/templates/tsup.config.ts.hbs
Labels: none

New utils package
  packages/utils/README.md
  packages/utils/npmignore
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/tsconfig.json
  packages/utils/tsup.config.ts
  packages/utils/virtual.d.ts
Labels: none

Extract utilities into separate package
  .changeset/thin-hotels-hide.md
  packages/inline-mod/package.json
  packages/inline-mod/src/closure/inspectCode.ts
  packages/inline-mod/src/inlining.ts
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/lazy.ts
  packages/utils/tests/env.d.ts
  packages/utils/tests/vitest.setup.ts
  packages/utils/tsup.config.ts
  packages/utils/virtual.d.ts
  packages/utils/vitest.config.mjs
  pnpm-lock.yaml
  turbo/generators/integration/templates/package.json.hbs
  turbo/generators/integration/templates/tests/env.d.ts
  turbo/generators/integration/templates/tests/vitest.setup.ts
  turbo/generators/integration/templates/vitest.config.mjs
Labels: pkg/inline-mod

Add git hooks for formatting
  .husky/.gitignore
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Labels: workspace

Format all files
  packages/inline-mod/src/closure/inspectCode.ts
  packages/inline-mod/src/inlining.ts
  packages/utils/README.md
  packages/utils/package.json
Labels: pkg/inline-mod

Add missing tests
  packages/aik-route-config/package.json
  packages/aik-route-config/vitest.config.ts
  packages/utils/tests/lazy.test.ts
Labels: pkg/aik-route-config

Extract utilities into separate package (#84)
  .changeset/thin-hotels-hide.md
  .husky/.gitignore
  .husky/pre-commit
  package.json
  packages/aik-route-config/package.json
  packages/aik-route-config/vitest.config.ts
  packages/inline-mod/package.json
  packages/inline-mod/src/closure/inspectCode.ts
  packages/inline-mod/src/inlining.ts
  packages/utils/README.md
  packages/utils/npmignore
  packages/utils/package.json
  packages/utils/src/lazy.ts
  packages/utils/tests/env.d.ts
  packages/utils/tests/lazy.test.ts
  packages/utils/tests/vitest.setup.ts
  packages/utils/tsconfig.json
  packages/utils/tsup.config.ts
  packages/utils/vitest.config.mjs
  pnpm-lock.yaml
  turbo/generators/integration/templates/tests/env.d.ts
  turbo/generators/integration/templates/tests/vitest.setup.ts
  turbo/generators/integration/templates/tsup.config.ts.hbs
  turbo/generators/integration/templates/vitest.config.mjs
Labels: workspace, pkg/aik-route-config, pkg/inline-mod

Run tests and build on Node 22
  .github/workflows/ci.yml
Labels: automation

chore: Make Turbo not share cache between Node versions
  .gitignore
  package.json
  turbo.json
  turbo/cache-key.mjs
Labels: workspace

chore: Make cache busting work on Node 18
  turbo/cache-key.mjs
Labels: none

chore: Run tests and build on Node 22 (#86)
  .github/workflows/ci.yml
  .gitignore
  package.json
  turbo.json
  turbo/cache-key.mjs
Labels: automation, workspace

chore: Upgrade everything
  docs/package.json
  pnpm-lock.yaml
Labels: none

fix: Prevent breaking on unexpected compiled Astro component structure
  .changeset/brave-sheep-lay.md
  packages/aik-route-config/__tests__/fixtures/exportedFunctionWithAdversaryExports.astro
  packages/aik-route-config/__tests__/hoist.test.ts
  packages/aik-route-config/__tests__/utils.ts
  packages/aik-route-config/src/hoistGlobalPlugin.ts
  packages/aik-route-config/vitest.config.ts
Labels: pkg/aik-route-config

Simplify reproduction
  packages/aik-route-config/__tests__/fixtures/exportedFunctionWithAdversaryExports.astro
  packages/aik-route-config/__tests__/hoist.test.ts
Labels: pkg/aik-route-config

Update coverage thresholds
  packages/aik-route-config/vitest.config.ts
Labels: pkg/aik-route-config

fix(aik-route-config): Prevent breaking on unexpected compiled Astro component structure (#88)
  .changeset/brave-sheep-lay.md
  packages/aik-route-config/__tests__/fixtures/exportedFunctionWithAdversaryExports.astro
  packages/aik-route-config/__tests__/hoist.test.ts
  packages/aik-route-config/__tests__/utils.ts
  packages/aik-route-config/src/hoistGlobalPlugin.ts
  packages/aik-route-config/vitest.config.ts
Labels: pkg/aik-route-config

[ci] release (#85)
  .changeset/brave-sheep-lay.md
  .changeset/thin-hotels-hide.md
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Labels: pkg/aik-mod, pkg/aik-route-config, pkg/inline-mod, pkg/sitemap-ext

feat: Extract `Once` utility
  packages/aik-route-config/package.json
  packages/aik-route-config/src/contextResolution.ts
  packages/aik-route-config/src/index.ts
  packages/utils/src/once.ts
  pnpm-lock.yaml
Labels: pkg/aik-route-config

feat: Extract `Once` utility (#89)
  packages/aik-route-config/package.json
  packages/aik-route-config/src/contextResolution.ts
  packages/aik-route-config/src/index.ts
  packages/utils/src/once.ts
  pnpm-lock.yaml
Labels: pkg/aik-route-config

--wip-- [skip ci]
  packages/content-inject/src/index.ts
  packages/content-inject/src/utility.ts
Labels: none

feat: Implement new content-inject package
  packages/content-inject/README.md
  packages/content-inject/npmignore
  packages/content-inject/package.json
  packages/content-inject/src/index.ts
  packages/content-inject/src/utility.ts
  packages/content-inject/tsconfig.json
  packages/content-inject/tsup.config.ts
  packages/content-inject/virtual.d.ts
  pnpm-lock.yaml
Labels: none

chore: Add example of an ideal API to strive for
  packages/content-inject/idealApi.ts
Labels: none

[pkg/astro-atlas]: Working for server builds and prerendering
  examples/astro-atlas/.gitignore
  examples/astro-atlas/README.md
  examples/astro-atlas/astro.config.ts
  examples/astro-atlas/package.json
  examples/astro-atlas/public/favicon.svg
  examples/astro-atlas/src/env.d.ts
  examples/astro-atlas/src/pages/[...slug].astro
  examples/astro-atlas/src/pages/index.astro
  examples/astro-atlas/tsconfig.json
  packages/astro-atlas/README.md
  packages/astro-atlas/gitignore
  packages/astro-atlas/npmignore
  packages/astro-atlas/package.json
  packages/astro-atlas/src/index.ts
  packages/astro-atlas/src/middleware.ts
  packages/astro-atlas/src/state.ts
  packages/astro-atlas/src/types.ts
  packages/astro-atlas/tsconfig.json
  packages/astro-atlas/tsup.config.ts
  packages/astro-atlas/virtual.d.ts
  pnpm-lock.yaml
Labels: none
