Repository Fryuni/inox-tools, pull requests merged in 2024-06, with the labels that each got.

#112 feat(content-utils): Use absolute paths for injected runtime
  packages/content-utils/src/integration/injectorPlugin.ts
Labels: pkg/content-utils

#110 [ci] release
  .changeset/dull-jokes-destroy.md
  .changeset/smart-cherries-listen.md
  .changeset/tiny-items-warn.md
  examples/content-injection/CHANGELOG.md
  examples/content-injection/package.json
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
  packages/modular-station/CHANGELOG.md
  packages/modular-station/package.json
Labels: pkg/content-utils, pkg/modular-station

#111 feat(content-utils): Add Git times getter for collection entries
  .changeset/nasty-peas-sparkle.md
  docs/astro.config.ts
  docs/src/content/docs/content-utils/git-time.mdx
  docs/src/content/docs/content-utils/integration.md
  examples/content-injection/src/content/blog/foo.md
  examples/content-injection/src/pages/index.astro
  packages/content-utils/src/index.ts
  packages/content-utils/src/integration/gitTimePlugin.ts
  packages/content-utils/src/integration/index.ts
  packages/content-utils/src/integration/injectorPlugin.ts
  packages/content-utils/src/runtime/git.ts
  packages/content-utils/src/runtime/liveGit.ts
  packages/content-utils/virtual.d.ts
Labels: enhancement, pkg/content-utils

#115 [ci] release
  .changeset/nasty-peas-sparkle.md
  examples/content-injection/CHANGELOG.md
  examples/content-injection/package.json
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
Labels: pkg/content-utils

#116 chore(modular-station): Future-proof hook handling
  .changeset/swift-wolves-hug.md
  packages/modular-station/src/allHooksPlugin.ts
  packages/modular-station/src/api.ts
  packages/modular-station/src/hooks.ts
Labels: enhancement, pkg/modular-station

#120 fix(sitemap-ext): Rename integration
  .changeset/thirty-mugs-begin.md
  packages/sitemap-ext/index.ts
Labels: pkg/sitemap-ext
