Repository Fryuni/inox-tools, pull requests merged in 2024-12, with the labels that each got.

#181 [ci] release
  .changeset/grumpy-coins-collect.md
  .changeset/hot-pandas-dream.md
  .changeset/pre.json
  .changeset/sixty-chefs-itch.md
  .changeset/smooth-pets-grab.md
  .changeset/ten-fireants-peel.md
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/astro-tests/CHANGELOG.md
  packages/astro-tests/package.json
  packages/astro-when/CHANGELOG.md
  packages/astro-when/package.json
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
  packages/custom-routing/CHANGELOG.md
  packages/custom-routing/package.json
  packages/cut-short/CHANGELOG.md
  packages/cut-short/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
  packages/modular-station/CHANGELOG.md
  packages/modular-station/package.json
  packages/portal-gun/CHANGELOG.md
  packages/portal-gun/package.json
  packages/request-nanostores/CHANGELOG.md
  packages/request-nanostores/package.json
  packages/request-state/CHANGELOG.md
  packages/request-state/package.json
  packages/runtime-logger/CHANGELOG.md
  packages/runtime-logger/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
  packages/star-warp/CHANGELOG.md
  packages/star-warp/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Labels: pkg/inline-mod, pkg/aik-mod, pkg/sitemap-ext, pkg/aik-route-config, pkg/custom-routing, pkg/content-utils, pkg/modular-station, pkg/runtime-logger, pkg/request-state, pkg/request-nanostores, pkg/astro-tests, pkg/cut-short, pkg/portal-gun

#179 fix(request-state): remove data race on early state load
  .changeset/neat-panthers-notice.md
  docs/src/content/docs/request-nanostores.mdx
  docs/src/content/docs/request-state.mdx
  packages/request-state/src/runtime/middleware.ts
Labels: pkg/request-state

#183 [ci] release
  .changeset/gentle-kids-worry.md
  .changeset/neat-panthers-notice.md
  packages/custom-routing/CHANGELOG.md
  packages/custom-routing/package.json
  packages/custom-routing/src/index.ts
  packages/request-nanostores/CHANGELOG.md
  packages/request-nanostores/package.json
  packages/request-state/CHANGELOG.md
  packages/request-state/package.json
Labels: pkg/custom-routing

#184 docs: How Runtime Logger works
  docs/astro.config.ts
  docs/package.json
  docs/src/components/Mermaid.astro
  docs/src/components/PageTitle.astro
  docs/src/content/config.ts
  docs/src/content/docs/how-it-works/runtime-logger.mdx
  docs/src/content/docs/runtime-logger.mdx
  examples/astro-when/package.json
  examples/content-injection/package.json
  examples/custom-routing/package.json
  examples/inline-mod-aik/package.json
  examples/inline-mod-astro/package.json
  examples/inline-mod/package.json
  examples/request-nanostores/package.json
  examples/request-state/package.json
  examples/sitemap-ext/package.json
  flake.nix
  package.json
  patches/astro.patch
  pnpm-lock.yaml
Labels: documentation, workspace
