Repository Fryuni/inox-tools, pull requests merged in 2024-05, with the labels that each got.

#86 chore: Run tests and build on Node 22
  .github/workflows/ci.yml
  .gitignore
  package.json
  turbo.json
  turbo/cache-key.mjs
Labels: automation, workspace

#88 fix(aik-route-config): Prevent breaking on unexpected compiled Astro component structure
  .changeset/brave-sheep-lay.md
  packages/aik-route-config/__tests__/fixtures/exportedFunctionWithAdversaryExports.astro
  packages/aik-route-config/__tests__/hoist.test.ts
  packages/aik-route-config/__tests__/utils.ts
  packages/aik-route-config/src/hoistGlobalPlugin.ts
  packages/aik-route-config/vitest.config.ts
Labels: pkg/aik-route-config

#85 [ci] release
  .changeset/brave-sheep-lay.md
  .changeset/thin-hotels-hide.md
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Labels: pkg/inline-mod, pkg/aik-mod

#89 feat: Extract `Once` utility
  packages/aik-route-config/package.json
  packages/aik-route-config/src/contextResolution.ts
  packages/aik-route-config/src/index.ts
  packages/utils/src/once.ts
  pnpm-lock.yaml
Labels: pkg/aik-route-config

#95 [ci] release
  .changeset/purple-boxes-worry.md
  .changeset/tricky-toys-shave.md
  examples/content-injection/CHANGELOG.md
  examples/content-injection/package.json
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Labels: pkg/content-utils

#96 chore(content-utils)!: Add internal and external documentation
  .changeset/lovely-ducks-shout.md
  .changeset/nice-parrots-wash.md
  docs/astro.config.ts
  docs/src/content/docs/content-utils.md
  examples/content-injection/integration.ts
  packages/content-utils/src/index.ts
  packages/content-utils/src/injectCollections/index.ts
  packages/content-utils/src/injectCollections/plugin.ts
  packages/content-utils/src/runtime/fancyContent.ts
  packages/content-utils/src/runtime/injector.ts
Labels: documentation, pkg/content-utils

#99 feat(content-utils): Add `seedCollections` utility
  .changeset/clean-glasses-sit.md
  docs/src/content/docs/content-utils.md
  docs/src/content/docs/content-utils.mdx
  examples/content-injection/.gitignore
  examples/content-injection/integration.ts
  examples/content-injection/src/integration/integrationDocs/bar.md
  packages/content-utils/src/index.ts
  packages/content-utils/src/injectCollections/index.ts
  packages/content-utils/src/internal/resolver.ts
  packages/content-utils/src/seedCollections.ts
Labels: pkg/content-utils

#98 [ci] release
  .changeset/clean-glasses-sit.md
  .changeset/lovely-ducks-shout.md
  .changeset/nice-parrots-wash.md
  examples/content-injection/CHANGELOG.md
  examples/content-injection/integration.ts
  examples/content-injection/package.json
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
Labels: pkg/content-utils

#101 Fix manually defining injected collections
  packages/content-utils/src/runtime/injector.ts
Labels: pkg/content-utils

#103 [ci] release
  .changeset/spotty-dots-heal.md
  examples/content-injection/CHANGELOG.md
  examples/content-injection/package.json
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
Labels: pkg/content-utils

#105 chore(docs): Use local version of packages instead of NPM release
  docs/package.json
  docs/src/components/Version.astro
  pnpm-lock.yaml
Labels: documentation

#106 fix(aik-route-config): Fixed compatibility with compiler v2.8
  .changeset/empty-geese-eat.md
  packages/aik-route-config/__tests__/hoist.test.ts
  packages/aik-route-config/__tests__/scriptBlocks.test.ts
  packages/aik-route-config/src/hoistGlobalPlugin.ts
  packages/aik-route-config/vitest.config.ts
Labels: bug, pkg/aik-route-config

#107 [ci] release
  .changeset/empty-geese-eat.md
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
Labels: pkg/sitemap-ext, pkg/aik-route-config

#104 feat(modular-station): Implement Modular Station package
  .changeset/spicy-clouds-clap.md
  .github/labeler.yml
  docs/astro.config.ts
  docs/src/content/docs/modular-station.md
  packages/modular-station/README.md
  packages/modular-station/npmignore
  packages/modular-station/package.json
  packages/modular-station/src/api.ts
  packages/modular-station/src/hooks.ts
  packages/modular-station/src/index.ts
  packages/modular-station/tsconfig.json
  packages/modular-station/tsup.config.ts
  packages/modular-station/vitest.config.ts
  pnpm-lock.yaml
Labels: new package, pkg/modular-station

#108 [ci] release
  .changeset/spicy-clouds-clap.md
  packages/modular-station/CHANGELOG.md
  packages/modular-station/package.json
Labels: pkg/modular-station
