Repository Fryuni/inox-tools, pull requests merged in 2024-04, with the labels that each got.

#66 [pkg/sitemap-ext]: Fixes `trailingSlash` handling for SSR dynamic routes
  .changeset/shaggy-bobcats-type.md
  packages/sitemap-ext/index.ts
Labels: bug, pkg/sitemap-ext

#65 [ci] release
  .changeset/healthy-frogs-think.md
  .changeset/shaggy-bobcats-type.md
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/custom-routing/CHANGELOG.md
  packages/custom-routing/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
Labels: pkg/custom-routing

#67 [ci] release
  .changeset/twelve-rivers-thank.md
  examples/astro-when/CHANGELOG.md
  examples/astro-when/package.json
  packages/astro-when/CHANGELOG.md
  packages/astro-when/package.json
Labels: pkg/sitemap-ext

#70 Update dependencies
  .changeset/chilled-drinks-sip.md
  .changeset/few-toys-rush.md
  .github/workflows/ci.yml
  docs/package.json
  docs/src/content/docs/inline-mod/aik-plugin.md
  examples/astro-when/package.json
  examples/custom-routing/package.json
  examples/inline-mod-aik/integration.ts
  examples/inline-mod-aik/package.json
  examples/inline-mod-astro/package.json
  examples/sitemap-ext/package.json
  package.json
  packages/aik-mod/package.json
  packages/aik-mod/src/index.ts
  packages/aik-route-config/package.json
  packages/aik-route-config/src/index.ts
  packages/astro-when/package.json
  packages/custom-routing/package.json
  packages/sitemap-ext/index.ts
  packages/sitemap-ext/package.json
  packages/velox-luna/package.json
  patches/@lunariajs__core@0.0.31.patch
  pnpm-lock.yaml
Labels: automation, workspace, pkg/velox-luna, pkg/aik-mod, pkg/sitemap-ext, pkg/aik-route-config, pkg/custom-routing

#71 [ci] release
  .changeset/chilled-drinks-sip.md
  .changeset/few-toys-rush.md
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
  packages/velox-luna/CHANGELOG.md
  packages/velox-luna/package.json
Labels: pkg/velox-luna, pkg/aik-mod, pkg/sitemap-ext, pkg/aik-route-config

#72 [pkg/aik-mod]: Fixes type issue with `DeepPartial`
  .changeset/silent-spies-film.md
  packages/aik-mod/src/index.ts
Labels: pkg/aik-mod

#73 [ci] release
  .changeset/silent-spies-film.md
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
Labels: pkg/aik-mod

#75 [pkg/aik-route-config]: Fixes type issue with `DeepPartial`
  .changeset/warm-balloons-explain.md
  packages/aik-route-config/src/index.ts
Labels: pkg/aik-route-config

#76 [ci] release
  .changeset/warm-balloons-explain.md
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
Labels: pkg/sitemap-ext, pkg/aik-route-config

#77 chore: Update all dependencies
  .changeset/cyan-tigers-warn.md
  .changeset/short-buckets-sell.md
  docs/package.json
  examples/astro-when/package.json
  examples/custom-routing/package.json
  examples/inline-mod-aik/package.json
  examples/inline-mod-astro/package.json
  examples/inline-mod/package.json
  examples/sitemap-ext/package.json
  package.json
  packages/aik-mod/package.json
  packages/aik-route-config/package.json
  packages/aik-route-config/src/contextResolution.ts
  packages/astro-when/package.json
  packages/astro-when/src/index.ts
  packages/custom-routing/package.json
  packages/inline-mod/package.json
  packages/sitemap-ext/index.ts
  packages/sitemap-ext/package.json
  packages/velox-luna/package.json
  pnpm-lock.yaml
  turbo/package.json
Labels: workspace, pkg/inline-mod, pkg/velox-luna, pkg/aik-mod, pkg/sitemap-ext, pkg/aik-route-config, pkg/custom-routing

#78 [ci] release
  .changeset/cyan-tigers-warn.md
  .changeset/short-buckets-sell.md
  .changeset/wicked-fireants-switch.md
  examples/astro-when/CHANGELOG.md
  examples/astro-when/package.json
  examples/custom-routing/CHANGELOG.md
  examples/custom-routing/package.json
  examples/inline-mod-aik/CHANGELOG.md
  examples/inline-mod-aik/package.json
  examples/inline-mod-astro/CHANGELOG.md
  examples/inline-mod-astro/package.json
  examples/inline-mod/CHANGELOG.md
  examples/inline-mod/package.json
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/astro-when/CHANGELOG.md
  packages/astro-when/package.json
  packages/custom-routing/CHANGELOG.md
  packages/custom-routing/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
  packages/velox-luna/CHANGELOG.md
  packages/velox-luna/package.json
Labels: pkg/inline-mod, pkg/velox-luna, pkg/aik-mod, pkg/sitemap-ext, pkg/aik-route-config, pkg/custom-routing

#80 feat: upgrade to aik 0.13
  .changeset/ninety-rice-battle.md
  examples/inline-mod-aik/package.json
  packages/aik-mod/package.json
  packages/aik-mod/src/index.ts
  packages/aik-route-config/package.json
  packages/aik-route-config/src/index.ts
  packages/astro-when/package.json
  packages/astro-when/src/index.ts
  packages/sitemap-ext/index.ts
  packages/sitemap-ext/package.json
  pnpm-lock.yaml
Labels: pkg/aik-mod, pkg/sitemap-ext, pkg/aik-route-config

#81 [ci] release
  .changeset/ninety-rice-battle.md
  examples/astro-when/CHANGELOG.md
  examples/astro-when/package.json
  examples/inline-mod-aik/CHANGELOG.md
  examples/inline-mod-aik/package.json
  examples/sitemap-ext/CHANGELOG.md
  examples/sitemap-ext/package.json
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/astro-when/CHANGELOG.md
  packages/astro-when/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
Labels: pkg/aik-mod, pkg/sitemap-ext, pkg/aik-route-config
