Repository Fryuni/inox-tools, pull requests merged in 2025-05, with the labels that each got.

#217 feat(astro-tests): buildWithCli method
  docs/src/content/docs/astro-tests.mdx
  packages/astro-tests/src/astroFixture.ts
Labels: pkg/astro-tests

#220 [ci] release
  .changeset/deep-lights-scream.md
  .changeset/lovely-onions-listen.md
  .changeset/ripe-poets-tan.md
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/astro-tests/CHANGELOG.md
  packages/astro-tests/package.json
  packages/astro-when/CHANGELOG.md
  packages/astro-when/package.json
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
  packages/content-utils/src/runtime/fancyContent.ts
  packages/custom-routing/CHANGELOG.md
  packages/custom-routing/package.json
  packages/cut-short/CHANGELOG.md
  packages/cut-short/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
  packages/modular-station/CHANGELOG.md
  packages/modular-station/package.json
  packages/portal-gun/CHANGELOG.md
  packages/portal-gun/package.json
  packages/request-nanostores/CHANGELOG.md
  packages/request-nanostores/package.json
  packages/request-state/CHANGELOG.md
  packages/request-state/package.json
  packages/runtime-logger/CHANGELOG.md
  packages/runtime-logger/package.json
  packages/server-islands/CHANGELOG.md
  packages/server-islands/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
  packages/star-warp/CHANGELOG.md
  packages/star-warp/package.json
Labels: pkg/inline-mod, pkg/aik-mod, pkg/sitemap-ext, pkg/aik-route-config, pkg/custom-routing, pkg/content-utils, pkg/modular-station, pkg/runtime-logger, pkg/request-state, pkg/request-nanostores, pkg/server-islands, pkg/astro-tests, pkg/cut-short, pkg/portal-gun

#221 [ci] release
  .changeset/famous-mammals-doubt.md
  .changeset/spicy-turtles-divide.md
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/astro-tests/CHANGELOG.md
  packages/astro-tests/package.json
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
  packages/cut-short/CHANGELOG.md
  packages/cut-short/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
  packages/modular-station/CHANGELOG.md
  packages/modular-station/package.json
  packages/portal-gun/CHANGELOG.md
  packages/portal-gun/package.json
  packages/request-nanostores/CHANGELOG.md
  packages/request-nanostores/package.json
  packages/request-state/CHANGELOG.md
  packages/request-state/package.json
  packages/runtime-logger/CHANGELOG.md
  packages/runtime-logger/package.json
  packages/server-islands/CHANGELOG.md
  packages/server-islands/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
  packages/star-warp/CHANGELOG.md
  packages/star-warp/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/utils/src/lazy.ts
Labels: pkg/inline-mod, pkg/aik-mod, pkg/sitemap-ext, pkg/aik-route-config, pkg/content-utils, pkg/modular-station, pkg/runtime-logger, pkg/request-state, pkg/request-nanostores, pkg/server-islands, pkg/astro-tests, pkg/cut-short, pkg/portal-gun

#222 feat(cut-short): Implement dynamic prerender skip
  .changeset/eager-weeks-feel.md
  docs/src/content/docs/cut-short.mdx
  packages/cut-short/src/index.ts
  packages/cut-short/src/runtime/entrypoint.ts
  packages/cut-short/tests/basic.test.ts
  packages/cut-short/tests/fixture/basic/src/pages/block-render.astro
  packages/cut-short/virtual.d.ts
Labels: pkg/cut-short
