Repository Fryuni/inox-tools, pull requests merged in 2025-03, with the labels that each got.

#206 feat(content-utils): Add Git support for Content Layer
  .changeset/long-lamps-move.md
  packages/content-utils/src/integration/gitPlugin.ts
  packages/content-utils/src/integration/index.ts
  packages/content-utils/src/integration/state.ts
  packages/content-utils/src/internal/resolver.ts
  packages/content-utils/src/runtime/git.ts
  packages/content-utils/src/runtime/liveGit.ts
Labels: pkg/content-utils

#208 feat(astro-tests): support reading binary files from fixtures
  .changeset/shy-deers-warn.md
  packages/astro-tests/src/astroFixture.ts
Labels: pkg/astro-tests

#210 chore: Add tests to ensure request state handles XSS scripts
  examples/request-state/src/pages/index.astro
  packages/request-state/e2e/basic.spec.ts
Labels: pkg/request-state

#211 fix(content-utils): Incorrect import when strictly transitive
  .changeset/rare-birds-leave.md
  packages/content-utils/src/integration/gitPlugin.ts
  packages/content-utils/src/integration/injectorPlugin.ts
Labels: pkg/content-utils

#213 [ci] release
  .changeset/rare-birds-leave.md
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
Labels: pkg/content-utils
