Repository Fryuni/inox-tools, pull requests merged in 2025-07, with the labels that each got.

#233 docs: Add new required config for Vercel
  turbo.json
Labels: workspace

#234 fix(sitemap-ext): Combine sitemap integration layers to handle multi-stage adapters
  .changeset/long-feet-build.md
  packages/sitemap-ext/index.ts
Labels: pkg/sitemap-ext

#227 Export Fixture type
  .changeset/eight-apes-sort.md
  packages/astro-tests/src/astroFixture.ts
Labels: pkg/astro-tests

#232 [ci] release
  .changeset/48be987a-c150-4313-ab1a-fcfc9bb6bce1.md
  .changeset/eight-apes-sort.md
  .changeset/long-feet-build.md
  packages/aik-mod/CHANGELOG.md
  packages/aik-mod/package.json
  packages/aik-route-config/CHANGELOG.md
  packages/aik-route-config/package.json
  packages/astro-tests/CHANGELOG.md
  packages/astro-tests/package.json
  packages/astro-when/CHANGELOG.md
  packages/astro-when/package.json
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
  packages/custom-routing/CHANGELOG.md
  packages/custom-routing/package.json
  packages/cut-short/CHANGELOG.md
  packages/cut-short/package.json
  packages/inline-mod/CHANGELOG.md
  packages/inline-mod/package.json
  packages/modular-station/CHANGELOG.md
  packages/modular-station/package.json
  packages/portal-gun/CHANGELOG.md
  packages/portal-gun/package.json
  packages/request-nanostores/CHANGELOG.md
  packages/request-nanostores/package.json
  packages/request-state/CHANGELOG.md
  packages/request-state/package.json
  packages/runtime-logger/CHANGELOG.md
  packages/runtime-logger/package.json
  packages/server-islands/CHANGELOG.md
  packages/server-islands/package.json
  packages/sitemap-ext/CHANGELOG.md
  packages/sitemap-ext/package.json
  packages/star-warp/CHANGELOG.md
  packages/star-warp/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  packages/velox-luna/CHANGELOG.md
  packages/velox-luna/package.json
Labels: pkg/inline-mod, pkg/velox-luna, pkg/aik-mod, pkg/sitemap-ext, pkg/aik-route-config, pkg/custom-routing, pkg/content-utils, pkg/modular-station, pkg/runtime-logger, pkg/request-state, pkg/request-nanostores, pkg/server-islands, pkg/astro-tests, pkg/cut-short, pkg/portal-gun

#235 fix(content-utils): GitAuthor type
  .changeset/stale-olives-push.md
  packages/content-utils/src/runtime/git.ts
  packages/content-utils/virtual.d.ts
Labels: pkg/content-utils

#236 [ci] release
  .changeset/stale-olives-push.md
  packages/content-utils/CHANGELOG.md
  packages/content-utils/package.json
Labels: pkg/content-utils
